<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
      <div class="row b">
            <div class="col-12 col-md-6">
              <div class="trai"></div>
            </div>
            <div class="col-12 col-md-6">
              <h1>Notifications</h1>
            </div>
      </div>
      <div class="row a">
        <div class="col-12 col-md-6">
          <img src="assets/Logo.png" alt="">
        </div>
        <div class="col-12 col-md-6">
          <p>Le FabLab Solidarity est un atelier de production numérique pour la création ...</p>
          <span>Date : 27/09/2022 A l’instant </span>
        </div>
      </div>

     
  <div class="row a">
    <div class="col-12 col-md-6">
      <img src="assets/Logo.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <p>Le FabLab Solidarity est un atelier de production numérique pour la création ...</p>
      <span>Date : 27/09/2022 A l’instant </span>
    </div>
  </div>
  <div class="row a">
    <div class="col-12 col-md-6">
      <img src="assets/Logo.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <p>Le FabLab Solidarity est un atelier de production numérique pour la création ...</p>
      <span>Date : 27/09/2022 A l’instant </span>
    </div>
  </div>
  <div class="row a">
    <div class="col-12 col-md-6">
      <img src="assets/Logo.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <p>Le FabLab Solidarity est un atelier de production numérique pour la création ...</p>
      <span>Date : 27/09/2022 A l’instant </span>
    </div>
  </div>
  <div class="row a">
    <div class="col-12 col-md-6">
      <img src="assets/Logo.png" alt="">
    </div>
    <div class="col-12 col-md-6">
      <p>Le FabLab Solidarity est un atelier de production numérique pour la création ...</p>
      <span>Date : 27/09/2022 A l’instant </span>
    </div>
  </div>
  
    
  </div>
</ion-content>
