.a{
    margin-top: 30px;
    display: flex;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #F0F0F0;
    border-radius: 20px;
    width: 95%;
    margin-left: 20px;
    height: auto;
    padding: 30px;
}
p{
    margin-top: 30px;
    margin-left: -46%;
}
img
{
  margin-left: 20%;
  height: 100%;

}
span{
    margin-top: 50px;
    margin-left: -44%;
}
.trai{
    border: 1px solid #FF6600;
    width: 30%;
    height: 40px;
    background-color: #FF6600;
    border-radius: 0px 15px 15px 0px;
   
   
}
.b{
    margin-top: 10%;
}

