<div class="container-fluid" *ngIf="roles == 'user' || roles == 'admin' && iduser  else erreur">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"><i
      class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button (click)="deconnexion()" class="btn deconnexion btn-danger"> <i class="bi bi-power "></i> Deconnexion</button>
  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {
      .deconnexion {
        left: 50%;
      }
    }
  </style>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">


      <div class="row ro py-3">
        <div class="col-12 col-md-4 py-3">
          <div class="trait1">Reporting</div>
        </div>

        <div class="position ">
          <div class="mb-3 col-12 col-md-2 form-row ">
            <select name="designation" id="designation" class="form-select form-control bi bi-filter-right ">
              <option class="r" selected>Activité</option>
              <option>Formation</option>
              <option>Kalanso</option>
              <option>Orange Fab</option>
            </select>
          </div>
          <div class="mb-3 col-12 col-md-2 form-row ">
            <select name="designation" id="designation" class="form-select form-control bi bi-filter-right r">
              <option selected>Statut</option>
              <option>Encours</option>
              <option>Terminer</option>
            </select>
          </div>
          <div class="mb-3 col-12 col-md-2 form-row ">
            <select name="designation" id="designation" class="form-select form-control bi bi-filter-right r">
              <option selected>Date</option>
              <option>2021</option>
              <option>2022</option>
              <option>2023</option>
              <option>2024</option>
              <option>2025</option>
            </select>
          </div>
          <div class="mb-3 col-12 col-md-2 form-row ">
            <select name="designation" id="designation" class="form-select form-control bi bi-filter-right r">
              <option selected>Entité</option>
              <option *ngFor="let entite of lesEntites">{{entite.nom}}</option>

            </select>
          </div>
          <div class="mb-3 col-12 col-md-2 form-row ">
            <select name="designation" id="designation" class="form-select form-control bi bi-filter-right r">
              <option selected>Liste</option>
              <option>Liste1</option>
              <option>Liste2</option>
              <option>Liste3</option>
              <option>Liste4</option>
              <option>Liste5</option>
            </select>
          </div>
          <form>
            <button class="btn btnAjouter recherche" style="display:flex ;"><i class="bi bi-search "></i> <input
                type="text" style=" border: 0; background: transparent; font-size: 12px; " name="searchText"
                [(ngModel)]="searchText"></button>
          </form>
        </div>
        <div class="table-responsive ra py-5">
          <table id="" class="table">
            <thead>
              <tr> 
                <th scope="col" class="ra" style="text-align:center ;">Activité</th>
                <th scope="col" style="text-align: left ;">Entité</th>
                <th scope="col" style="text-align:left ;">Date</th>
                <th scope="col" style="text-align:left ;">Statut</th>
                <th scope="col" style="text-align:left ;">Actions</th>
              </tr>
            
              <tr *ngFor="let activite of affiche |  filter:searchText | paginate:{ itemsPerPage: 5, currentPage: p}">
                <td style="text-align:center ;">{{activite[0]}}</td>
                <td style="text-align:center ;">{{activite[1]}}</td>
                <td style="text-align:center ;">{{activite[2]}}</td>
                <td style="text-align:center ;">{{activite[3]}}</td>
                <td style="text-align:center ;" (click)="recId(activite[5])"> <i
                    class="bi bi-filetype-csv"></i></td>
                <!-- <ion-button (click)="presentAlert(1)">Click Me</ion-button> -->
              </tr>


            </thead>
          </table>

          <pagination-controls (pageChange)="p = $event" class="text-center" nextLabel="Suivants"
            previousLabel="Précédents"></pagination-controls>

        </div>
      </div>




      <!-- <table id="season-tble" class="table">
        <thead>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Numero</th>
          <th>Genre</th>
        </thead>

        <tbody>
          <tr *ngFor="let mesPersonnes of lesPersonnesTirer">
            <td> {{mesPersonnes[0]}}</td>
            <td> {{mesPersonnes[1]}}</td>
            <td> {{mesPersonnes[2]}}</td>
            <td> {{mesPersonnes[3]}}</td>
            <td> {{mesPersonnes[4]}}</td>
          </tr>
        </tbody>

    

      </table> -->












      <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++  MODAL PERMETTANT D'AFFICHER LES PERSONNES-->

      <ion-modal #modal trigger="open-modal" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation" >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>
                <ion-button (click)="exportToExcel()"> Telecharger <i class="bi bi-file-arrow-down-fill"></i>
                </ion-button>
              </ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()" class="btn btn-danger">Fermer</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <table id="season-tble" class="table">
            <thead>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Email</th>
              <th>Numero</th>
              <th>Genre</th>
            </thead>

            <tbody>
              <tr *ngFor="let mesPersonnes of lesPersonnesTirer">
                <td> {{mesPersonnes[0]}}</td>
                <td> {{mesPersonnes[1]}}</td>
                <td> {{mesPersonnes[2]}}</td>
                <td> {{mesPersonnes[3]}}</td>
                <td> {{mesPersonnes[4]}}</td>
              </tr>
            </tbody>

        

          </table>

        </ng-template>
      </ion-modal>


    </main>
  </div>
</div>


<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div>
      <button style="font-size:20px;">Veuillez vous <a href="authentification" class=" btn">connecter</a></button>
      <style>
        .img button a:hover {
          background-color: black;
          border: 2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }

        .img button a {
          background-color: #ff6600;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>