<ion-content *ngIf="roles == 'user' || roles == 'admin' || roles =='responsable' && iduser  else erreur">
  <div class="container-fluid ">
    <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"><i
        class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
    <button (click)="deconnexion()" class="btn deconnexion btn-danger"> <i class="bi bi-power "></i>
      Deconnexion</button>
    <style>
      .deconnexion {
        position: relative;
        left: 80%;
      }

      @media only screen and (max-width: 475px) {
        .deconnexion {
          left: 50%;
        }
      }

      @media only screen and (min-width: 499px) and (max-width: 857px) {

        .deconnexion {
          left: 65%;
        }
      }
    </style>
    <div class="row flex-nowrap">
      <div class="col-auto px-2" *ngIf="menuBureau">
        <app-menu></app-menu>
      </div>
      <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
        <div class="container">
          <div class="row boxShadow">
            <!------------- Colonne Droite ---->
            <div class="col-12 col-md-4 imgGauche">
              <img src="assets/icon/tache.png" alt="image ajouter un postulant" class="img-fluid rounded image">
              <h2 class="display-6 text-center" style="font-weight: bold; color: black;">Veuillez s'il vous plaît
                nous décrire la<span style="color:#FF6600"> tâche</span></h2>
            </div>
            <!------------- Colonne Droite ---->
            <div class="col-12 col-md-8">
              <form>
                <fieldset>
                  <legend class="display-6 text-center my-3"><b>Ajouter une tâche</b></legend>
                </fieldset>

                <div class="trait"></div>
                <div class="row col-12">
                  <div class="mb-4 col-12 col-md-6 form-row form-floating">
                    <select name="designation" id="designation" class="form-select form-control">
                      <option selected>Designation</option>
                      <option> Tache 1</option>
                      <option> Tache 2</option>
                      <label for="designation">Designation</label>
                    </select>
                  </div>
                  <div class="mb-4 col-12 col-md-6 form-row form-floating">
                    <select name="activite" id="activite" class="form-select form-control">
                      <option selected>Activite</option>
                      <option>Developpement web</option>
                      <option> Python</option>
                      <label for="activite">Activite</label>
                    </select>

                  </div>
                  <div class="mb-3 col-12 col-md-6 form-row form-floating">
                    <input type="date" name="name" id="name" placeholder="Nom" class="form form-control inputvalue">
                    <label for="name">Date debut</label>
                  </div>
                  <div class="mb-3 col-12 col-md-6 form-row form-floating">
                    <input type="date" name="firstname" id="firstname" placeholder="Prénom"
                      class="form form-control inputvalue">
                    <label for="firstname">Date fin</label>
                  </div>



                  <div class="mb-3 col-12 col-md-12 form-row form-floating">
                    <select name="liste" id="liste" class="form-select form-control">
                      <option selected> Statut </option>
                      <option>Activer</option>
                      <option> Desactiver</option>
                      <label for="sexe">liste</label>
                    </select>
                  </div>
                </div>
                <button class="btn btnAjouter">Valider</button>
                <span class="btn btnAjouter">Designation</span>

              </form>

            </div>
          </div>
          <!-- Footer -->
          <footer class="footer mt-3 mb-3">
            <p class="text-center">&copy; 2022 | Tous droits réservés <span style="color:#FF6600;">Orange</span> Digital
              Center</p>
          </footer>
          <style>
            footer {
              padding: 25px;
              background: #202020;
              color: #FFFFFF;
            }
          </style>
          <!-- Footer -->
        </div>
      </main>
    </div>
  </div>
</ion-content>

<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div>
      <button style="font-size:20px;">Veuillez vous <a href="authentification" class=" btn">connecter</a></button>
      <style>
        .img button a:hover {
          background-color: black;
          border: 2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }

        .img button a {
          background-color: #ff6600;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>