// .head{
//     background-color: black;
//     color: white;
//     height: 60px;
//   }
.container{
  //   width: 920px;
  //   height: 800px;
  //   margin-left: 31.75%;
  //  margin-bottom: -9%;
  // //  margin-top: 10%;
  //  margin-top: 1.5px;


   padding-left: 20%;
   padding: 10%;

//    padding: 0px;
    // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    
  }
  
//   tr{
//     height: 40px;
//     border-bottom: 0.25px solid  lightgray;
//     margin-left: 100px;
//   }
//   td{
// padding-left:22px ;
//   }

//   .gauche{
//     border-radius: 10px 0 0 0;
// }
// .droite{
//     border-radius: 0 10px 0 0;
// } 
*{
  font-family: 'Poppins', sans-serif;
}
.intermediare{
  display: flex;
  // background-color: red;
  align-content: center;
    width: 95%;
    height: 50px;
    position: relative;
    left: 10px;
    margin-top: 5%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.intermediare h1{
 
    position: relative;
    bottom: 10px;
    left: 39%;
    align-content: center;
    width: 200px;
    text-align: center;
    // background-color: sandybrown;

}
.search{
  width: 400px;
  // height: 1px;
  margin-left: 66.5%;
  position: relative;
  top: 15%;
  left: -6.5%;
}
p{
  margin-top: 5%;
  font-weight: bold;
  font-size: 1.25em;
  // background-color: red;
  text-align: center;

}
// .search[_ngcontent-hhl-c144] {
//   width: 100px;
//   /* height: 1px; */
//   margin-left: 76.5%;
//   position: relative;
//   top: 15%;
//   left: 2.5%;
// }
// .cont{
//     width: 800px;
//     height: 400px;
//     margin-top: -6.75%;
//     display: flex;
//     position: relative;
//     top: 80px;
//     left: 40px;
//     bottom: 50%;
//     // background-color: cadetblue;
// }
.tab{
    width: 95%;
    margin-top: 3%; 
    margin-left: 2.5%;

  }
.gauche{
  border-radius: 10px 0 0 0;
}
.droite{
  border-radius: 0 10px 0 0;
} 
.head{
  border: none;
}
th{
  border: none;
}
.table .thead-dark th {
  color: #fff;
  background-color: black;
  border-color: black;
  border: none;
}
// ion-searchbar.search--.sc-ion-searchbar-md-h.sc-ion-searchbar-md-s.md.searchbar-left-aligned.searchbar-should-show-clear.hydrated {
//   /* top: 53%; */
//   right: 23%;
// }