<<<<<<< HEAD
=======
// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,400&display=swap%27');

// *{
//   font-family: 'Poppins', sans-serif;
// }

// .alarte{
//   box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
// }
// .alarte1{
//   box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
//    width: 350%;
//   height: 250px;
// }

// .alarte2{
//   box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
//   // width: 00%;
//   height: 250px;
// }
// // .alarte2{
// //   box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
// //   // width: 00%;
// //   height: 200px;
// //   left: 52%;
// //   margin-top:-19%;
// // }

// .cardHome{
//   box-shadow: 1px 1px 5px rgba(0,0,0,0.8);

// }
// .cardHome1{
//     box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
// }
// .cardCenter{
//   justify-content: space-around;
// }
// .pContent1{
 
//     font-size: 2.2rem;
    
//     position: relative;
//     top: -60px;
//     left: 8px;
//     width: 350px;
// }
// 
// .slogan{
//   color: #FF6600;
//   text-align: center;
//   font-size: 1.3rem;
//   position: relative;
//   top: -15px;
// }

// .activity{
//   box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
//   width: 30%;
// }
// * {
//   font-family: 'Poppins' sans-serif;
// }

// .boxShadow{
//   padding: 15px;
// }
// .boxShadowArticle{
//   box-shadow: rgba(0, 0, 0, 0.20) 1.95px 1.95px 2.6px;
//   padding-top: 15px;
// }
// .titleSectionActivity{
//   text-align: center;
//   font-size: 2rem;
//   font-weight: 600;
// }
// .actityAVenir{
//   text-align: center;
//   font-size: 2rem;
//   font-weight: 600;
// }
// .dateActivity{
//   text-align: center;
//   font-size: 1rem;
//   position: relative;
//   top: -10px;
// }
// .pActivityAVenir{
//   position: relative;
//   top: -20px;
// }
// .auteurActivityAVenir{
//   position: relative;
//   font-size: 1rem;
//   top: -30px;
// }
// .boxShadowArticleAVenir{
//   display: flex;
//   flex-direction: column;
//   box-shadow: rgba(0, 0, 0, 0.20) 1.95px 1.95px 2.6px;
//   padding-bottom: 0;
// }



// .statistique{
//   position: absolute;
// width: 1000px;
// height: 200px;
// left: 220px;
// top: 50px;

// background: #FFFFFF;
// box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);

// }
// .btntout{    
//   position: absolute;
//   width: 166px;
//   height: 52px;
//   background: #FF6600;
//   border-radius: 14px;
//   color: #FFFFFF;
//   text-align: center;
//    margin-top: 50%;
//   margin-left: 0%;
// }
// .btnplus{
//   position: absolute;
// width: 125px;
// height: 30px;
// right: 100px;
// top: 350px;

// background: #FF6600;
// border-radius: 10px;
// position: absolute;
// font-family: 'Poppins';
// font-style: normal;
// font-weight: 400;
// font-size: 15px;
// line-height: 22px;
// /* identical to box height */


// color: #FFFFFF;
// text-align: center;

// }
// .trait{
//   position: absolute;
// width: 100px;
// height: 2px;
// left: 300px;
// top: 60px;

// background: #FF6600;
// }
// .trait1{
//   position: absolute;
// width: 100px;
// height: 2px;
// left: 20px;
// top: 25px;

// background: #FF6600;
// }

//  .orange{
//   //   position: absolute;
//   // // width: 559px;
//   // // height: 90px;
//   // // left: 400px;
//   //  top: 85px;
  
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 60px;
//   line-height: 90px;
//   /* identical to box height */
//   color: #000000;
    
//    }
//   .digital{
//     position: absolute;
//   // width: 641px;
//   // height: 48px;
//    left: 250px;
//  top: 80px;
  
//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 400;
//   font-size: 32px;
//   line-height: 48px;

  
  
//   color: #000000;
//   }
//    .slogan{
    
//   // position: absolute;
//   // width: 667px;
//   // height: 48px;
//   // // left: 400px;
//    top: 10px;
  
//   font-family: 'Poppins';
//   font-style: italic;
//   font-weight: 400;
//   font-size: 32px;
//   line-height: 48px;
//   // /* identical to box height */
  
  
//   color: #FF6600;
//   }

*{
  font-family: 'Poppins', sans-serif;
}

.welcomeContainer{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
.slogan{
  color: #FF6600;
  font-weight: 300;
  position: relative;
  top: -10px;
  font-style: italic;
}
.cardTop{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
}
.iconsHaut{
  font-size: 4rem;
  color: #FF6600;
  padding-top: 10px;

}
.cardContour{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.pContent1{
  font-size: 2.2rem;
  font-weight: bold;
}
.pContent2{
    font-size: 1rem;
    position: relative;
    top: -23px;
  }
  .talks{
  
  position: absolute;
  width: 5px;
  height: 20px;
  left: 8%;
  top: 5%;
  
  background: #F58220;
  }
.itemsevents{
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
}
.itemsevents{
 margin: 10px;
}
.itemsevents .iconsevents,.textevents{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.iconseventsTalk{
  background: #24BB9D;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  margin-right: 20px;
}
.iconseventsEvent{
  background: #FF6600;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  margin-right: 20px;
}
.iconseventsForm{
  background: #202020;
  width: 70px;
  height: 70px;
  border-radius: 5px;
  position: relative;
  top: 20px;
  margin-right: 20px;
}
.eventTitle{
  font-size: 1.5rem;
  padding: 10px;
  margin: 0;
  margin-left: -20px;
  
}
.eventNumberTalk{
  font-size: 2rem;
  position: relative;
  margin-top: -10px;
  margin-bottom: 0;
  color: #24BB9D;
}
.eventNumberEvent{
  font-size: 2rem;
  position: relative;
  margin-top: -10px;
  margin-bottom: 0;
  color: #FF6600;
}.eventNumberForm{
  font-size: 2rem;
  position: relative;
  margin-top: -10px;
  margin-bottom: 0;
  color: #202020;
}
.iconseventsTalk,.iconseventsEvent,.iconseventsForm i{
  color: #fff;
  font-size: 2.3rem;
  display: flex;
  position: relative;
  padding-top: 10px;
  justify-content: center;
}

.bar div{
 margin: 2px;
}
.bar0{
  background-color: #FF6600;
  width: 3px;
  height: 350px;
}
.bar1{
  background-color: #24BB9D;
  width: 3px;
  height: 350px;
}
.bar2{
  background-color: #FFEA01;
  width: 3px;
  height: 350px;
}
.bar3{
  background-color: #54C5F1;
  width: 3px;
  height: 350px;
}
.trait{
  background: #FF6600;
 padding: 1px;
 width: 110px;
 margin-left: 40%;
}
>>>>>>> faf6a274850116db8563c4eed295cd6203a4b4f3
