<ion-header>
  <ion-toolbar>
    <ion-title>AccueilUser</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="container">
  <div class="bienvenue ">
    <p id="orange"> Bienvenue ! DIALLO</p>
    <p class="digital"> Sur la plateforme Orange Digital Center </p>
   <p class="succes"> #Innovation - #Technologie - #Invention</p>
  </div>
  <div class="card">
      <ion-card id="salle"> 
      </ion-card>
    <ion-card id="apprenant"> 
      <i class="fa-solid fa-graduation-cap icon"></i>
    </ion-card>
   <ion-card id="participant"> 
      <i class="fa-solid fa-graduation-cap icon"></i>
    </ion-card>
  </div>
  <div class="statistique">
    <div class="activite"></div>
    <div class="talks"></div>
  </div>
  <div class="recente">
    <div class="recente1"></div>
  </div>
  <div class="venir">
    <div class="futur"></div>
  </div>

</div>
 
</ion-content>
