<ion-content>
  <div class="container">

    <div class="row py-3">
      <div class="welcomeContainer py-2">
        <p class="display-6 text-center"> Bienvenue ! DIALLO</p>
        <p class="text-center"> Sur la plateforme Orange Digital Center </p>
        <p class="text-center slogan"> #Innovation - #Technologie - #Invention</p>
      </div>
    </div>

    <div class="row cardContour">
      <div class="col-6 col-md-4">
        <div class="cardTop my-3 p-2">
          <i class="fa-solid fa-graduation-cap i iconsHaut text-center"></i>
          <p class="pContent1 text-center" >22</p>
          <p class="pContent2 text-center">Salles disponibles</p>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="cardTop my-3 p-2">
            <i class="fa-solid fa-graduation-cap i iconsHaut text-center"></i>
            <p class="pContent1 text-center">100</p>
            <p class="pContent2 text-center">Apprenants</p> 
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="cardTop my-3 p-2">
            <i class="fa-solid fa-chalkboard-user i iconsHaut text-center"></i>
            <p class="pContent1 text-center">153</p>
            <p class="pContent2 text-center">Participants</p>
        </div>
      </div>
    </div>

    <div class="row cardContour my-3">
      <div class="col-12 col-md-8 bg-warning">
        <div class="statistique">
          place statistique
        </div>
      </div>
      <div class="col-12 col-md-4 row">
        <div class="col-md-2 col-2">
          <div class="bar d-flex">
            <div class="bar0"></div>
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
        <div class="events col-md-10 col-10" >
          <div class="itemsevents">
            <div class="iconseventsTalk">
              <i class="bi bi-chat"></i>
            </div>
            <div class="textevents">
              <p class="eventTitle">Talks</p>
              <p class="eventNumberTalk">98</p>
            </div>
          </div>
          <div class="itemsevents">
            <div class="iconseventsEvent">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <div class="textevents">
              <p class="eventTitle">Evénements</p>
              <p class="eventNumberEvent">203</p>
            </div>
          </div>
          <div class="itemsevents">
            <div class="iconseventsForm">
              <i class="bi bi-code-square"></i>
            </div>
            <div class="textevents">
              <p class="eventTitle">Formation</p>
              <p class="eventNumberForm">45</p>
            </div>
          </div>
        </div>
      </div>
    </div>

<div class="row cardContour">
  <div class="col-12 col-md-8">
    <div class="cardContour">
      <h1 class="text-center pt-3">Activités Recentes</h1>
        <div class="trait"></div>
        <p class="text-center">Merci de visionner nos activités récentes  </p>

        <div class="col-12 col-md-6">
          <img src="../../assets/talk.jpg" alt="image talk" class="card-img-top">
        </div>
        <div class="col-12 col-md-6">
          <img src="../../assets/talk.jpg" alt="image talk" class="card-img-top">
        </div>
    </div>
  </div>
</div>
  <div class="col-12 col-md-4">
   
  </div>

  </div>
</ion-content>