<div class="container-fluid " *ngIf="roles == 'admin' && iduser  else erreur">

  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"><i
      class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button (click)="deconnexion()" class="btn deconnexion btn-danger"> <i class="bi bi-power "></i> Deconnexion</button>
  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {
      .deconnexion {
        left: 50%;
      }
    }
  </style>

  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">

      <ion-content>
        <div class="container" >
          <div class="row contourShaddow my-4">
            <div class="contourTopImg my-1 p-4 col-12 col-md-12">
              <div class="contourImg">
                <img src="../../assets/images/{{photo}}/" alt="images" class="img-fluid">
              </div>
              <h1 class="display-6 mb-3"><b>{{libelle}}</b></h1>

              <div class="UserSection ">
                <div class="userCerle ">
                  <div class="name">HC</div>
                </div>

                <div class="userName  ">
                  <span class="firstName">{{responsable}} <b>{{responsable}} </b></span>
                  <span>Responsable</span>
                </div>

                <div class="  ">
                  <button class="btn btnTerminer">
                    <img src="../../assets/icon/validIcon.png" alt="icon valid" class="iconValid"> {{etat}}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row contourShaddow">
            <div class="description p-4">
              {{etat}}
            </div>
          </div>

          <div class="row contourShaddow my-4">
            <div class="moreInfos p-4">
              <p class="h3 mb-3"><b>Inforamtions Importante</b></p>

              <div class="row">
                <div class="col-12 col-md-4">
                  <p>
                    <ion-icon name="location" class="iconLocationSize"></ion-icon>
                    <b>Lieu : </b>Orange Digital Center
                  </p>
                  <p>
                    <ion-icon name="home" class="iconLocationSize"></ion-icon>
                    <b>Salle : </b>{{salle}}
                  </p>
                </div>
                <div class="col-12 col-md-4">
                  <p>
                    <ion-icon name="person" class="iconLocationSize"></ion-icon>
                    <b>Responsable: </b>{{responsable}}
                  </p>
                  <p>
                    <ion-icon name="locate" class="iconLocationSize"></ion-icon>
                    <b>Objectif participants: </b>{{objectifVise}}
                  </p>
                </div>
                <div class="col-12 col-md-4">
                  <p>
                    <ion-icon name="calendar" class="iconLocationSize"></ion-icon>
                    <b>Date début : </b>{{dateDebut}}
                  </p>
                  <p>
                    <ion-icon name="calendar" class="iconLocationSize"></ion-icon>
                    <b>Date Fin : </b>{{datefin}}
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </ion-content>
    </main>
  </div>
</div>

<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div>
      <button style="font-size:20px;">Veuillez vous <a href="authentification" class=" btn">connecter</a></button>
      <style>
        .img button a:hover {
          background-color: black;
          border: 2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }

        .img button a {
          background-color: #ff6600;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>