
* {
    font-family: 'Poppins', sans-serif;
}

.contourShaddow {
    width: 99%;
    margin-left: 1%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.contourImg img {
    border-radius: 20px;
}

.userCerle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: #F58220;
}

.name{
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    display: flex;
    position: relative;
    top: 5px;
    justify-content: center;
}

.UserSection{
    display: flex;
}
.userName {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userName .firstName{
    font-size: 1.4rem;
}

.btnTerminer{
    border: 1px solid green;
    border-radius: 15px;
    color: black;
    cursor: none;
}

.iconRight{
    margin-left: 63%;
}


.iconValid{
    width: 27px;
}

.iconLocationSize{
    font-size: 1.4rem;
    color: #5a5959;
}

p .iconLocationSize{
    margin-right: 10px;
    position: relative;
    top: 5px;
}

 

.UserSection{
    display: flex;
    justify-content: space-around;
}
.userName{
    margin-left: -40%;
}
.userCerle{
    margin-left: -20%;
}
.btnTerminer{
    margin-left: 145%;
    width: 150px;
}

@media screen and (max-width: 1199px){
 
    .userCerle{
        margin-left: 1px;
    }
    .userName{
        margin-left: 1px;
    }
    .btnTerminer{
        margin-left: 1px;
    }

}