

<ion-content>

  <div class="container">
    <div class="row boxShadow">
      <!------------- Colonne Gauche---->
      <div class="col-12 col-md-2 imgGauche">
      
        <img src="assets/icon/user.png" alt="image user" class="img-fluid rounded">
        <p class="profileName">Ousmane <b>TOURE</b></p>

        <div class="row">
            <p class="py-3" class="titleProfilSettings"><i class="bi bi-gear"></i> Compte</p>
            <p class="py-3" class="titleProfilSettings2"><i class="bi bi-lock-fill"></i> Mots de passe</p>
        </div>

        
      </div>

      <!------------- Colonne Droite ---->
      <div class="col-12 col-md-10">
        <form>
          <fieldset>
            <legend class="display-6"><b>Paramètres du profil</b></legend>
          </fieldset>
          <div class="trait"></div>
          <div class="row col-12">
            <div class="mb-3 col-12 col-md-6 form-row ">
              <label for="name">Nom</label>

              <input type="text" name="name" id="name" value="TOURE" class="form form-control inputvalue">
            </div>
            <div class="mb-3 col-12 col-md-6 form-row ">
              <label for="firstname">Prénom</label>
              <input type="text" name="firstname" id="firstname" value="Ousmane" class="form form-control inputvalue">
            </div>
            <div class="mb-3 col-12 col-md-6 form-row ">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" value="Toure@orangemali.com" class="form form-control inputvalue">
            </div>
            <div class="mb-3 col-12 col-md-6 form-row ">
              <label for="num">Numéro</label>
              <input type="text" name="num" id="num" value="74674384" class="form form-control inputvalue">
            </div>
            <div class="mb-3 col-12 col-md-6 form-row ">
              <label for="num">Role</label>
              <input type="text" name="num" id="num" value="Administrateur" class="form form-control inputvalue" disabled>
            </div>
          </div>
          <div>
            <button class="btn btnAjouter">Enregistrer</button>
            <button class="btn btnAjouter1">Annuler</button>
          </div>
          


        </form>

      </div>
    </div>
  </div>






















   <!-- Tiec -->
  <!-- <div class="container">
    <div class="left" style="position: absolute; left: 0;">
      <img src="assets/images/logo.png" alt="">
      <h2>Bienvenue</h2>
      <h6>Sur Orange Digital Center</h6>
    </div>

    <div class="right">

      <h2>Ajouter un postulant</h2>
      <div class="trait"></div>

      <form action="" method="post" >
        <table>
          <tr>
            <td><input type="text" name="nom" placeholder="Saisir Nom" required></td>
            <td><input type="text" name="nom" placeholder="Saisir Prenom" required></td>
          </tr>

          <tr>
            <td><input type="text" name="num" placeholder="Saisir Numero" required></td>
            <td><select class="slt">
              <option value="" style="background: red;">--Genre--</option>
              <option value="">Masculin</option>
              <option value="">Féminin</option>
            </select></td>
          </tr>
        </table>
            <td><input class="eml" type="email" name="email" placeholder="Entrer Email" required></td>
        <input type="submit" value="Envoyer">
      </form>

    </div>

  </div>  -->


</ion-content>
