<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()" style="position:relative; top:2%; left:90%;"><i
      class="bi bi-list py-2 p-1 " style="color:black"></i></a>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">


<ion-content>
  <div class="container" style="padding: 20px;">

    <div class="row">
      <div class="col-12 head">
        <div class="headContent">
          <p><strong>Entités</strong></p><br>
        </div><br><br>
        <p class="p">Orange Digital Center</p>
      </div><br><br>

      <div class="col-12" >
        <a href="entite"><input type="button" value="Créer une entite" class="float-right bouton"></a><br><br><br>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
          <div class="cardContent col-12 m-3">
              <div class="pContent">
                <!-- <p  class="align center">Orange Digital Kalanso</p> -->
                  <p class="cardHoneContent text-center"><i class="bi bi-code-slash"></i></p>
                 <a href="accueil-entite"> <p  class="pContent2">Ecole du code</p> </a>
              </div>
          </div>

          <div class="cardContent col-12 m-3">
              <div class="pContent">
                  <p class="cardHoneContent text-center"><i class="bi bi-boxes"></i></p>
                  <p  class="pContent2">Fablab Solidaire</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="cardContent col-12 m-3">
            <div class="pContent">
                <p class="cardHoneContent text-center"><img src="assets/images/orangeFabI.png" alt="" width="100" height="50" style="margin-left: 50px;"></p>
                <p  class="pContent2">Orange Fab</p>
            </div>
          </div>

          <div class="cardContent col-12 m-3">
            <div class="pContent">
                <p class="cardHoneContent text-center"><ion-icon name="server-outline"></ion-icon></p>
                <p  class="pContent2">Orange Ventures</p>
            </div>
          </div>
      </div>
  </div>
</div>

</ion-content>

    </main>
  </div>
</div>
