
<ion-content>
  <div class="container" style="padding: 20px;">

    <div class="row">
      <div class="col-12 head">
        <div class="headContent">
          <p>Bienvenu <strong>TOURE</strong></p><br>
        </div><br><br>
        <p class="p">Orange Digital Center</p>
      </div><br><br>

      <div class="col-12" >
        <input type="submit" value="Creer une entite" class="float-right bouton"><br><br><br>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
          <div class="cardContent col-12 m-3">
              <div class="pContent">
                  <p class="cardHoneContent text-center"><i class="bi bi-code-slash"></i></p>
                  <p  class="pContent2">Ecole du code</p>
              </div>
          </div>

          <div class="cardContent col-12 m-3">
              <div class="pContent">
                  <p class="cardHoneContent text-center"><i class="bi bi-boxes"></i></p>
                  <p  class="pContent2">Fablab Solidaire</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6">
          <div class="cardContent col-12 m-3">
            <div class="pContent">
                <p class="cardHoneContent text-center"><img src="assets/images/orangeFabI.png" alt="" width="100" height="50" style="margin-left: 50px;"></p>
                <p  class="pContent2">Orange Fab</p>
            </div>
          </div>

          <div class="cardContent col-12 m-3">
            <div class="pContent">
                <p class="cardHoneContent text-center"><ion-icon name="server-outline"></ion-icon></p>
                <p  class="pContent2">Orange Ventures</p>
            </div>
          </div>
      </div>
  </div>
</div>

</ion-content>

