<div class="container-fluid" *ngIf="roles == 'user' || roles == 'admin' && iduser  else erreur">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"
  ><i class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button (click)="deconnexion()" class="btn deconnexion btn-danger" > <i class="bi bi-power "></i> Deconnexion</button>
<style>

.deconnexion{
position:relative; left:80% ;
}
@media only screen and (max-width: 475px){
.deconnexion{
  left:50% ;
}
}
</style>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">

      <ion-content>
        <div class="container">
          <div class="row heaad p-5">

            <div class="contourCard m-3">
              <div>
              <div class="text-center my-3">
              <button  type="button" class="btn AddEntity" [routerLink]="['/entite']">Ajouter une Entité</button>
            </div>

              <div class="row my-3">
                <div class=" col-12 col-md-6" *ngFor="let entite of entites">
                  <div class="m-3">
                    <div class="cardHome1" (click)="versEntite(entite)">
                      <img src="../../assets/images/{{entite.photoentite}}" class="iconSize1" alt="icon">
                      <p class="titleEntite">{{entite.nom}}</p>
                      <p class="txtEntite">{{entite.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

        </div>
      </ion-content>
      
    </main>
  </div>
</div>



<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div >
      <button style="font-size:20px;" >Veuillez vous <a href="authentification"  class=" btn">connecter</a></button>
      <style>
        .img button a:hover{
          background-color:black ;
          border:2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }
        .img button a{
          background-color:#ff6600 ;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>

    <!-- <ion-content>
      <div class="container" style="padding: 20px;">
    
        <div class="row">
          <div class="col-12 head">
            <div class="headContent">
              <p><strong>Entités</strong></p><br>
            </div><br><br>
            <p class="p">Orange Digital Center</p>
          </div><br><br>
    
          <div class="bouton-div">
            <a href="entite"><button class="bouton" >Ajouter une entité</button></a>
          </div>
        </div>
    
        <div class="row">
          <div class="col-12 col-md-6" *ngFor="let entite of entites">
              <div class="cardContent col-12 m-3">
                  <div class="pContent"> -->
                    <!-- <p  class="align center">Orange Digital Kalanso</p> -->
                      <!-- <p class="cardHoneContent text-center"><i class="bi bi-code-slash"></i></p>
                     <a [routerLink]="['/accueil-entite', entite.idEntite]"> <p  class="pContent2">{{entite.nom}}</p> </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
    
    </ion-content> -->