<ion-content>

  <div class="container">
    <div class="forme">

      <div class="row">



      <div class="col-12 col-md-5 bg-danger">
        1
      </div>


      <div class="col-md-2 col-xs-2 py-3"></div>

      <div class="col-12 col-md-5 text-center">
        <p>Formulaire Acteur</p>

      <div class="trait"></div><br>
        
        <div class="col mt-3 mb-3">
          <input type="text" class="form-control" placeholder="Nom" name="nom" id="nom" [(ngModel)]="nom">
        </div>
          <input type="submit" class="btn btn-success" (click)="onsave()">
      </div>



    </div>

  </div>
</div>

</ion-content>

