
<ion-content>

  <div *ngIf="menuMobile">
    <a class="ionee"><ion-icon  name="reorder-four-outline"  (click)="afficheMenuMobile()"></ion-icon></a>
  </div>
<!--  -->
 <div class="containers">

    <div class="left">
  
    <nav id="sidebar" *ngIf="menuBureau">

      <div class="logo">
        <img src="../../assets/logo.png" width="50%">
        <a class="ione" (click)="cacherMenuMobile()"><ion-icon name="close-outline"></ion-icon></a>
      </div>

        <ul  id="ull">
          
          <section class="head">

            <div>
              <img src="../../assets/logo.png">
            </div>
              
              <div>
                <p>Ousmane</p>
                <p>TOURE</p>
              </div>

          </section>
          
          <li class="onglet">
            <ion-icon class="iconeContentOnglet" name="home-outline"></ion-icon><a href="#homeSubmenu"  class="contentOnglet">Accueil</a>
          </li>
          
            <li class="onglet">   
              <ion-icon class="iconeContentOnglet" name="server-outline"></ion-icon><a href="#pageSubmenu"   class="contentOnglet">Entite</a>
            </li>

            <li class="onglet">
              <ion-icon class="iconeContentOnglet" name="server-outline"></ion-icon><a href="#" class="contentOnglet">Tirage</a>
            </li>

          <li class="onglet">
            <ion-icon class="iconeContentOnglet" name="stats-chart-outline"></ion-icon><a href="#" class="contentOnglet">Activite</a>
          </li>

          <li class="onglet">
            <ion-icon class="iconeContentOnglet" name="person-circle-outline"></ion-icon><a href="#" class="contentOnglet">Utilisateurs</a>
          </li>

      </ul>
     
  
  </nav>


    </div>
    
 
    <div class="right">
    
    
    </div>
  
  

   <div class="footer">

   </div>
 </div>

</ion-content>
