<style>
  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }
</style>


<div id="sidebar" class="collapse collapse-horizontal  show ">
  <div id="sidebar-nav" class="list-group border-0  hh rounded-0 text-sm-start">
    <div  >  {{prenom}}
      <img src="../assets/logo.png" style="height: 75px; width: 150px;" alt="">
    </div>
    <div class="py-3"></div>
    <ul class=" nav nav-pills mb-sm-auto mb-0 min-vh100  ul align-items-sm-start" id="menu">
      <li class=" py-4">
    
        <div class="row px-2" routerLink="/profile-user-profile">
          <div class="col" (click)="doConfirm()" > 
            <img src="../../assets/images/profil.png" style="height:100%; width:100%; border-radius: 50%;"
              alt="">    
          </div>
          <div class="col nom" align="">
            <span>{{nom_users}}</span>
            <span>{{prenom_users}}</span>
          </div>
        </div>
   

      </li>
     <li [routerLinkActive]=" 'active' " class="li ">
        <a routerLink="/accueil-user" class="nav-link  align-middle li">
          <i class="bi bi-house"></i> <span class="ms-1  d-sm-inline light px-3">Accueil</span></a>
      </li>
      <li [routerLinkActive]=" 'active' " class="li ">
        <a *ngIf="admin || respon" routerLink="/admin-accueil" class="nav-link  align-middle li">
          <i class="bi bi-house"></i> <span class="ms-1  d-sm-inline light px-3">Tableau bord</span></a>
      </li>
      <li [routerLinkActive]="'active'"  class="li">

        <a routerLink="/liste-globale" class="nav-link  align-middle li">
          <i class="bi bi-card-checklist"></i> <span class="ms-1  d-sm-inline light px-3">Listes</span></a>
      </li>
      <li [routerLinkActive]="'active'" class="li">
        <a routerLink="/liste-acteur" class="nav-link  align-middle li">
          <i class="bi bi-person-circle"></i> <span class="ms-1  d-sm-inline light px-3">Acteur</span></a>
      </li>
      <!-- =============================== ADMIN ============================================= -->
      <li *ngIf="admin" [routerLinkActive]="'active'" class="li">
        <a routerLink="/gestionentite" class="nav-link  align-middle li">
          <i class="bi bi-clipboard-data"></i><span class="ms-1  d-sm-inline light px-3">Entités</span></a>
      </li>
      <!-- =============================== RESPONSABLE ======================================== -->

      <li [routerLinkActive]="'active'" class="li">
        <a routerLink="/liste-tirage" class="nav-link  align-middle li">
          <i class="bi bi-browser-edge"></i> <span class="ms-1  d-sm-inline light px-3">Tirage</span></a>
      </li>
      <li [routerLinkActive]="'active'" class="li">
        <a routerLink="/details-activite" class="nav-link  align-middle li">
          <i class="bi bi-bar-chart-line"></i> <span class="ms-1  d-sm-inline light px-3">Activités</span></a>
      </li>
      <li *ngIf="admin" [routerLinkActive]="'active'" class="li">
        <a routerLink="/liste-utilisateur" class="nav-link  align-middle li">
          <i class="bi bi-person-circle"></i> <span class="ms-1  d-sm-inline light px-3">Utilisateurs</span></a>
      </li>


      <li [routerLinkActive]="'active'" class="li">
        <a routerLink="/liste-salle" class="nav-link  align-middle li">
          <i class="bi bi-pc-display-horizontal"></i> <span class="ms-1  d-sm-inline light px-3">Salles</span></a>
      </li>

      <li [routerLinkActive]="'active'" class="li">
        <a routerLink="/repording" class="nav-link  align-middle li">
          <i class="bi bi-pc-display-horizontal"></i> <span class="ms-1  d-sm-inline light px-3">Reporting</span></a>
      </li>
      <li style="height: 100px;"></li>
    </ul>
  </div>
</div> 