<ion-content *ngIf="roles == 'user' || roles == 'admin' || roles =='responsable' && iduser  else erreur">
  <div class="container-fluid">
    <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"
    ><i class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
    <button (click)="deconnexion()" class="btn deconnexion btn-danger" > <i class="bi bi-power "></i> Deconnexion</button>
<style>

.deconnexion{
  position:relative; left:80% ;
}
@media only screen and (max-width: 475px){
  .deconnexion{
    left:50% ;
  }
}
</style>
    <div class="row flex-nowrap">
      <div class="col-auto px-2" *ngIf="menuBureau">
        <app-menu></app-menu>
      </div>
      <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-9  ">
              <div class="col-12 col-md-12 t1 ">
                <h1>Bienvenue sur la page de l’entité</h1>
                <h2>Kalanso</h2>
              </div>
              <!--La section pour les statistiques formations apprenants et evenements-->

              <section class="row gy-3 py-3">
                <div class="col-6 col-md-4 pt-3">
                  <div class="card">
                    <span class="icon"><i class="bi bi-mortarboard"></i></span>
                    <p class="pcard">100</p>
                    <p class="textcard">Apprenants</p>
                  </div>
                </div>
                <div class="col-6 col-md-4 pt-3">
                  <div class="card">
                    <span class="icon"><i class="bi bi-mortarboard"></i></span>
                    <p class="pcard">100</p>
                    <p class="textcard">Formations</p>
                  </div>

                </div>
                <div class="col-6 col-md-4 pt-3">
                  <div class="card">
                    <span class="icon"><i class="bi bi-mortarboard"></i></span>
                    <p class="pcard">100</p>
                    <p class="textcard">Evenements</p>
                  </div>

                </div>
              </section>
            </div>
            <div class="col-12 col-md-3 t2 ">
              <div class="card1">
                <img src="assets/icon/user.png" alt="">

                <p class="statut">Responsable</p>
                <p class="statut">
                  <select name="sexe" id="sexe" class="form-select form-control">
                    <option selected>Responsable</option>
                    <option> Aly KONTE</option>
                    <option> Jeremi KOLOMA</option>
                    <option> MOussoudou TRAORE</option>
                    <label for="sexe">Responsable</label>
                  </select>
                </p>
                <button class="btn btnModify"><a href="accueil-">Enregistrer</a></button>
              </div>

            </div>
          </div>
          <section class="row gy-3 py-3">
            <div class="col-12 col-md-9">
              <div class="card1">
                <ul class="chart">
                  <li>
                    <span style="height:50%" title="Janvier"></span>
                  </li>
                  <li>
                    <span style="height:70%" title="Fevrier"></span>
                  </li>
                  <li>
                    <span style="height:50%" title="Mars"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="Avril"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="Mai"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="Juin"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="Juillet"></span>
                  </li>
                  <li>
                    <span style="height:20%" title="Août"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="Septembre"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="Octobre"></span>
                  </li>
                  <li>
                    <span style="height:15%" title="Novembre"></span>
                  </li>
                  <li>
                    <span style="height:35%" title="Decembre"></span>
                  </li>
                </ul>
                <br><br>
                <h2 class="a">Données Statistiques</h2>
              </div>
            </div>
            <div class="col-12 col-md-3 t2">
              <div class="card1">
                <h2>Activités a venir</h2>
                <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
              </div>
            </div>
          </section>
          <!--La section pour les activites encours-->
          <section>
            <div class="col-12 col-md-9 t2">
              <div class="card1">
                <h2>Activités encours</h2>
                <div class="row gy-3 py-3">
                  <div class="col-12 col-md-4">
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                  </div>
                  <div class="col-12 col-md-4">
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                  </div>
                  <div class="col-12 col-md-4">
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                    <p><i class="bi bi-bar-chart"></i>Titre activite 1</p>
                  </div>

                </div>
              </div>
            </div>
          </section>

        </div>
      </main>
    </div>
  </div>
</ion-content>

<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div >
      <button style="font-size:20px;" >Veuillez vous <a href="authentification"  class=" btn">connecter</a></button>
      <style>
        .img button a:hover{
          background-color:black ;
          border:2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }
        .img button a{
          background-color:#ff6600 ;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>