.cont {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

#container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.box1 {
  display: flex;
  justify-content: center;
}

.box3 {
  display: flex;
  justify-content: center;
}

.box2 {
  display: flex;
  justify-content: center;
}

