<ion-header>
  <ion-toolbar>
    <ion-title>Tirage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-div id="container">

    <ion-card class="box1">
      <ion-div>
        <h2>Importer un fichier</h2>
        <ion-file >Joindre un fichier</ion-file><br />
        <ion-input typeof="text" placeholder="Nom de la liste"></ion-input>
        <ion-button color="dark">Importer</ion-button><br />
        <ion-div>Ajouter  Un Postulant</ion-div><br />
      </ion-div>

    </ion-card>

    <ion-card class="box2">

      <ion-div>
        <h2>Faire Tirage</h2>
        <ion-div >Libellé tirage</ion-div><br />
        <ion-input typeof="numeric" placeholder="Nombre à trié"></ion-input>
        <ion-div >Libellé de la liste</ion-div><br />
        <ion-div >Libellé d'activité</ion-div><br />
        <ion-button color="light">Faire tirage</ion-button>
      </ion-div>

    </ion-card>

    <ion-card class="box3">

      <ion-div>
        <h2>Faire tirage sur une Liste existante</h2>
        <ion-input typeof="text" placeholder="Libellé tirage"></ion-input><br />
        <ion-input typeof="numeric" placeholder=" Nombre à trié"></ion-input><br />
        <ion-input typeof="text" placeholder="Libellé de la liste"></ion-input><br />
        <ion-input typeof="text" placeholder="Libellé d'activité"></ion-input><br />
        <ion-button color="light">Faire tirage</ion-button>
      </ion-div>

    </ion-card>

  </ion-div>


</ion-content>
