<ion-content *ngIf="roles == 'user' || roles == 'admin' && iduser  else erreur">
  <div class="container">
        <div class="row col-12 py-3">
          <div class=" entete row  col-12 ">
                <div class="col-md-6">
                  <div class="side">
                  <h1 class="py-3 px-3">Bienvenue ! TOURÉ</h1>
  
                  </div>
                    <div class="col-md-12">
                  <h4 class="entete-h4">Gestion Orange Digital Center</h4>
               </div>
                </div>
  
                <!-- <div class="search col-md-6 py-4 "><ion-searchbar class="search--"></ion-searchbar></div> -->
                  
                <!-- <div class=" col py-2">
                   
                </div> -->
             
               
  
                  
  
          </div>
  
          <div class="intermediare col-12">
            <h1> Liste 01 </h1>
          </div>
          <div class="libelle col-12"> <p >Listes des tirages effectuées sur la liste</p></div>
  
          <div class="trait"></div>
          <!-- <div class="container col-md-12"> -->
          <table class="table thead-dark ">
            <thead class="thead-dark ">
              <style>
                th, td{
                  width: 5%;
                }
  
              </style>
              <tr>
                <th class="gauche" scope="col">Tirage </th>
                <th scope="col">Date </th>
                <th scope="col">Nombre tiré</th>
                <th class="droite"scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">Tirage 1</td>
                  <td>2022-09-21</td>
                  <td>18</td>
                  <td>
                    <a>icone </a>
                  </td>
              </tr>
              <tr>
                <td scope="row">Tirage 1</td>
                  <td>2022-09-21</td>
                  <td>18</td>
                  <td>
                    <a>icone </a>
                  </td>
              </tr>
              <tr>
                <td scope="row">Tirage 1</td>
                <td>2022-09-21</td>
                <td>18</td>
                <td>
                  <a>icone </a>
                </td>
              </tr>
            </tbody>
          </table>
  
  
        <!-- </div>  -->
  </div>
     
  </div>
  </ion-content>
  
<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div >
      <button style="font-size:20px;" >Veuillez vous <a href="authentification"  class=" btn">connecter</a></button>
      <style>
        .img button a:hover{
          background-color:black ;
          border:2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }
        .img button a{
          background-color:#ff6600 ;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>
  