
// .search--{
//     border-radius: 12%;
//     margin-right: 121px;
//     width: 300px;
//     height: 1px;
//     margin-left: 180px;
    
//   }
//   .search{
//     width: 300px;
//     // height: 0px;
//     margin-left: 65%;
//     margin-right: 121px;
//     // top: auto;
//     // padding-bottom: 50px;

//   }
//   .djire{
//     justify-content: center 
//   }
//   .b{
    
//   }
.container1{
    margin-left: 6%;
    padding: auto;
}
.butt ion-searchbar{
    margin-left: 24%;
    
    width: 50%;
}
.bonjour{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25); 
    // width: auto;
    margin-right: auto;
    margin-left: auto;  
    // height: 100%;
}
.ajouter{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);
    
    margin-left: auto;
    margin-right: auto;
}
// .th{
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
// }
// .table{
//     width: 95%;
//     margin-top: auto;
//     margin-left: auto; 
//     margin-right: auto;
    
// }
.container{
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.25);

}
// .tr{
//     border: 1px solid #000000;
//     border: 1px solid #000000;
// }
// .c{
    
//     // margin-left: 20%;
// }
