<ion-header>
  <ion-toolbar>
    <ion-title>liste-des-salles</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>

<ion-content>
  <div class="row ">
    <div class="col-md-8 "></div>
    <div class="col-md-4  butt  "> <ion-searchbar class="search--"></ion-searchbar></div>
  </div>  
    <div class="container1">
      <div class="row djire " style="margin: 25px;" >
        <div class=" card col-md-8  bonjour  " style="margin: 5px; ">
          <div class="card-body ">
            <a href="#" style="text-decoration:none;" class="changer"> Bonjour, nous sommes ravis de mettre à votre disposition 
              l’état de la disponibilité des salles</a>
          </div>
        </div>
  
        <div class=" card col-md-2 ajouter " >
          <div class="card-body "   >
            <button type="button" class="btn btn-outline-secondary c" >
              Ajouter une salle
            </button>
          </div>
        </div>
  </div>
  </div>
  
  <div class="container">
    <div class="row ">
      <div class="col-md-4 "></div>
      <div class="cont col-md-4 ">
      
        <div class="boutton">  
          <p class="b" style="text-align:center; margin-top: 10px;"><b>Liste des salles</b></p>
        </div> 
      </div>
    </div>

      
     <!-- <table class="table table-striped custab">
      <thead class="thead-dark" >
        <th class="" scope="col" >Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Email</th>
        <th scope="col">Numéro</th>
        <th scope="col">Genre</th>
        <th class="" scope="col">Actions</th>

        <tr>
          <td scope="col">Djire</td>
          <td scope="col">Youssouf</td>
          <td scope="col">djireyoussouf1999@gmail.com</td>
          <td scope="col">72095772</td>
          <td scope="col">Masculin</td>
          <td>
            <ion-icon name="checkmark-circle-outline" style="margin-left: 25px;"></ion-icon>
          </td>
        </tr>

        <tr>
          <td scope="col">Djire</td>
          <td scope="col">Youssouf</td>
          <td scope="col">djireyoussouf1999@gmail.com</td>
          <td scope="col">72095772</td>
          <td scope="col">Masculin</td>
          <td>
            <ion-icon name="close" style="margin-left: 25px;"></ion-icon>
            
          </td>
        </tr>
      </thead>
      </table> -->
      <table class="table">
        <thead class="thead-dark" style="text-align:center;">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nom</th>
            <th scope="col">Etage</th>
            <th scope="col">Nombre de places</th>
            <th scope="col">Etat de disponibilité</th>
            
          </tr>
        </thead>
        <tbody style="text-align:center;">
          <tr>
            <th scope="row">1</th>
            <td>ODK 1</td>
            <td>2</td>
            <td>100</td>
            <td><ion-icon name="close" style="margin-left: 25px;"></ion-icon></td>
            
          </tr>

          <tr>
            <th scope="row">1</th>
            <td>ODK 1</td>
            <td>2</td>
            <td>100</td>
            <td><ion-icon name="checkmark-circle-outline" style="margin-left: 25px;"></ion-icon>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>
</ion-content>
