


  <div class="container">
    <div class="forme">

    

    <div class="row">

      <div class="col col-md-4 xs-12 ">
        <img src="" alt="">
      </div>

      <div class="col col-md-7 xs-12 gauche">
        <h1><strong>Reinitialisez votre mot de passe</strong></h1>
        <div class=" mb-3 trait"></div>
        
        <p style="color: black;">
          Entrez l'adresse E-mail verifiéé de votre compte utilisateur et nous vous enverrons un lien de reinitialisation 
          de mot de passe.
        </p>
        <div class="row">
          <div class="col col-md-7 xs-12 form-floating mb-4">
            <input type="text" name="" class="form-control" placeholder="Entrer votre adresse email" id="floatingInput">
            <label for="floatingInput">Email<span class="text-danger">*</span></label>
          </div>
        </div>
        <button class="btn bttn">Envoyer</button>
        

      </div>

    </div>
  </div>

  </div>
