
<ion-content>

  <div class="container">
    <div class="body">
      <!-- premiere partie -->
      <div class="row">
        <div class="col-12 col-md-3 bg-primary">
          <div class="row">
            <div class="col-12 mt-5 mb-4 text-center">1</div>
            <div class="col-12 mt-4 mb-4 text-center">Ousmane Toure</div>
            <div class="col-12 mt-4 mb-4" >
              <a href="#" style="color: black;">Comptes</a>
            </div>
            <div class="col-12 mt-4 mb-5">
              <a href="#" style="color: black;">Mot de passe</a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-1"></div>

        <!-- deuxieme partie -->
        <div class="col-12 col-md-7 bg-danger">
          <p class=" text-center p">Paramètre du Profil</p>
          <div class="row">

            <div class="col-md-6 mt-3 mb-3">
              <Label>Nom</Label>
              <input type="text" class="form-control" placeholder="Prenom" name="prenom">
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <Label>Prenom</Label>
              <input type="text" class="form-control" placeholder="Prenom" name="prenom">
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <Label>Email</Label>
              <input type="text" class="form-control" placeholder="Prenom" name="prenom">
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <Label>Numero</Label>
              <input type="text" class="form-control" placeholder="Prenom" name="prenom">
            </div>
            <div class="col-md-6 mt-3 mb-3">
              <Label>Rôle</Label>
              <input type="text" class="form-control" placeholder="Prenom" name="prenom">
            </div>
          </div>

           <div class="col-12 col-md-2 btn btn-success mt-5 px-5">1</div>
           <div class="col-12 col-md-2 btn btn-success mt-5">2</div>

        </div>
      </div>
    </div>

  </div>

</ion-content>
