


  <div class="container">
    <div class="forme">

    

    <div class="row">

      <div class="col col-md-4 xs-12">
        <img src="" alt="">
      </div>
      <div class=" col-md-1"></div>
      <div class="col col-md-7 xs-12 gauche">
        <div class="conteneur">
          <h1 class="text-center"><strong>Modification du mot de passe</strong></h1>
          <div class="text-center mb-3 trait"></div>
          

              <div class="row">
                <div class="col col-md-8 xs-12 form-floating mb-4">
                  <input type="text" name="" class="form-control" placeholder="Entrer votre adresse email" id="floatingInput">
                  <label for="floatingInput">Mot de passe<span class="text-danger">*</span></label>
                </div>
                <div class="col col-md-8 xs-12 form-floating mb-4">
                  <input type="text" name="" class="form-control" placeholder="Entrer votre adresse email" id="floatingInput">
                  <label for="floatingInput">Saisir mot de passe à nouveau<span class="text-danger">*</span></label>
                </div>
              </div>

                <button class="btn bttn">Valider</button>
        </div>
        

      </div>

    </div>
  

