
<ion-content >
<div class="container-fluid">
  <div class="row flex-nowrap">

      <div class="col-12 col-md-2 " >
        <div>
        <a href="#" data-bs-target="#sidebar"  (click)="afficheMenuMobile()"  data-bs-toggle="collapse"  ><i class="bi bi-arrow-left-circle py-2 p-1 " style="color:black"></i></a>
          <!-- <a class="ionee"><ion-icon  name="reorder-four-outline"  ></ion-icon></a> -->
        </div>
          <div id="sidebar" class="collapse collapse-horizontal  show " *ngIf="menuBureau">
            <div id="sidebar-nav" class="list-group border-0  hh rounded-0 text-sm-start">
                <div class="py-4">
                  <img src="../assets/logo.png" style="height: 90px; width: 150px;"  alt="">
                  <!-- <a href="#" data-bs-target="#sidebar"  (click)="cacherMenuMobile()"  data-bs-toggle="collapse"><i class="bi bi-arrow-left-circle py-2 p-1 " style="color:black"></i></a> -->
                  <!-- <i class="bi bi-arrow-left-circle" (click)="cacherMenuMobile()"></i> -->

             </div>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 min-vh100  ul align-items-sm-start"id="menu">
              <li class="nav-item py-4">
                <div class="row px-2">
                    <div class="col">  <img src="../assets/logo.png" alt=""></div>
                    <div class="col nom py-1">
                        <span>Camara</span>
                        <span>Camara</span>
                    </div>
                </div>
              </li>
              <li>
                <div class="row tiret px-4">
                    <div class="col"></div>
                    <div class="col  py-2" style="margin-left:-75% ;"><i class="bi bi-bell"></i></div>
                    <div class="col py-3" style="margin-left:-50% ; background-color: ble; width: 15px;"><span> Notification</span></div>
                    <div class="col-1 nombre"><span><b>23</b></span> </div>
                </div>
              </li>
              <li class="li">
                  <a href="#" class="nav-link  align-middle li">
                      <i class="bi bi-house"></i> <span class="ms-1  d-sm-inline light">Accueil</span></a>
              </li>
              <li class="li">
                <a href="entite" class="nav-link  align-middle li">
                    <i class="fa-solid fa-database i"></i> <span class="ms-1  d-sm-inline light">Entités</span></a>
            </li>
            <li class="li">
                <a href="tirage" class="nav-link  align-middle li">
                    <i class="bi bi-browser-edge"></i> <span class="ms-1  d-sm-inline light">Tirage</span></a>
            </li>
            <li class="li">
                <a href="#" class="nav-link  align-middle li">
                    <i class="bi bi-bar-chart-line"></i> <span class="ms-1  d-sm-inline light">Acticitées</span></a>
            </li>
            <li class="li">
                <a href="#" class="nav-link  align-middle li">
                    <i class="bi bi-person-circle"></i> <span class="ms-1  d-sm-inline light">Utilisateurs</span></a>
            </li>
            <li style="height: 79px;"></li>
          </ul>
              </div>
          </div>
      </div>
      <main class="col-auto col-md-10 pt-2  " style= " height: 100vh ;">
          <ion-app>
            <ion-router-outlet></ion-router-outlet>
        </ion-app>
          <hr>
      </main>
  </div>
</div>
<style>

#sidebar-nav {
  width: 180px;
}
</style>
</ion-content>
