<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar"  data-bs-toggle="collapse"  style="position:relative; top:2%; left:90%;"><i class="bi bi-list py-2 p-1 " style="color:black"></i></a>
<div class="row flex-nowrap">
  <div class="col-auto px-2" >
    <app-menu></app-menu>
    </div>


  <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">


    <ion-content>

      <main class="container py-3">
        <div class="row containerSearch">
          <div class="col-12 col-md-8 py-3">
            <p class=" display-6 mx-3"> Bienvenue <b>{{nom}} {{prenom}} </b> !</p>
            <p class="mx-3 welcomeP">Espace Admin - Orange Digital Center</p>
          </div>
          <div class="col-12 col-md-4 py-3">
            <!-- <form id="searchForm" class="py-3 ms-auto px-3">
              <div class="input-group">
                <input type="search" name="q" placeholder="Rechercher" class="form-control">
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
              </div>
            </form> -->
            <div>
              <select name="designation" id="designation"  class="form-select form-control bi bi-filter-right"  >
                <option selected>Filtré par Année</option>
                <option>2022</option>
                <option>2021</option>
                <option>2020</option>
                <option>2019</option>
                <option>2018</option>
                <option>2017</option>
            </select>
            </div>
          </div>
        </div>
        <section class="row gy-3 py-3">
          <div class="cardHome col-6 col-md-4 pt-3">
            <div class="contourCard">
              <span class="iconTop"><i class="bi bi-person-plus-fill iconns"></i></span>
              <p class="pcardHome pt-3">{{apprenantsTotal}}</p>
              <p class="txtcardHome">Apprennants</p>
            </div>
          </div>
          <div class="cardHome col-6 col-md-4 pt-3">
            <div class="contourCard">
              <span class="iconTop"><i class="bi bi-person-plus-fill iconns"></i></span>
              <p class="pcardHome pt-3">{{nbre}}</p>
              <p class="txtcardHome">Utilisateurs</p>
            </div>
          </div>
          <div class="cardHome col-12 col-md-4 pt-3">
            <div class="contourCard">
              <span class="iconTop"><i class="bi bi-person-plus-fill iconns"></i></span>
              <p class="pcardHome pt-3">{{participantTotal}}</p>
              <p class="txtcardHome">Participants</p>
            </div>
          </div>
        </section>
      
        <!-- deuxième partie-->
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="row">
            <div class="cardHome col-6 col-md-6 py-3">
              <div class="contourCard p-2">
                <p class="text-center"><i class="bi bi-person-workspace iconBas"></i></p>
                <p class="txtcardbottom">Orange Ventures</p>
              </div>
            </div>
            <div class="cardHome col-6 col-md-6 py-3">
              <div class="contourCard p-2">
                <p class="text-center"><i class="bi bi-person-workspace iconBas"></i></p>
                <p class="txtcardbottom">Orange Fab Center </p>
              </div>
            </div>
          </div>
          <div class="row py-3">
            <div class="cardHome col-6 col-md-6 py-3">
              <div class="contourCard p-2">
                <p class="text-center"><i class="bi bi-person-workspace iconBas"></i></p>
                <p class="txtcardbottom">FabLab Solidaire</p>
              </div>
            </div>
            <div class="cardHome col-6 col-md-6 py-3">
              <div class="contourCard p-2">
                <p class="text-center"><i class="bi bi-person-workspace iconBas"></i></p>
                <p class="txtcardbottom">Orange Kalanso</p>
              </div>
            </div>
          </div>
          </div>
      
      
          <div class="col-12 col-md-8">
             <img src="../../assets/images/img1.jpg" alt="" class="img-fluid"> 
          </div>
        </div>
      
      
      </main>
      </ion-content>
      


</main>
</div>
</div>


