*{
  font-family: 'Poppins';font-size: 22px;
}

.welcomeP{
  position: relative;
  background-color: #E7EBED;
  width: 50%;
  border-radius: 0px 23px 23px 0px;
  margin-left: 1000px;
  padding: 5px;
  margin-top: -10px;
  font-size: 1rem;
}
.contourCard{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
.cardHome{
background: #FFFFFF;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);

}
.containerSearch{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  
}

.iconTop i{
  position: relative;
  color: #FF6600;
  margin-left: 60px;
  top: 50px;
  font-size: 4rem;
}

.pcardHome{
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  position: relative;
  top: -50px;
}

.txtcardHome{
  text-align: center;
  font-size: 1rem;
  position: relative;
  top: -70px;
}
