<ion-header>
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container1">
    <div  class="color1">
      <div class="position">
        <i class="fa-solid fa-graduation-cap icon"></i>
          <h1>153</h1>
      </div>
      <span>Participants</span>
    </div>
    <div class="color2">
      <div class="position">
         <i class="fa-regular fa-user icon"></i>
          <h1>200</h1>
      </div>
     <span>Utilisateurs</span>
    </div>
    <div  class="color3">
      <div class="position">
        <i class="fa-regular fa-user icon"></i>
        <h1>153</h1>
      </div>
      <span>Participants</span>
    </div>
  </div>
  <div class="container">
    <div class="carreau">
      <div>
        <div class="ligne1">
          <div>
            <div style=" width: 200px; height: 150px;" class="color3">
              <div class="position1">
                <i class="fa-solid fa-user-plus icon"></i>
              </div>
              <span style="margin-left:30% ; margin-top:40%;">Acteurs</span>
            </div>
          </div>
        </div>
          <div class="ligne1">
            <div>
              <div style=" width: 200px; height: 150px;" class="color3">
                <div class="position1">
                  <i class="fa-regular fa-desktop-arrow-down icon"></i>
                </div>
                <span style="margin-left:20% ; margin-top:5%;">FabLab Solidaire</span>
              </div>
            </div>
          </div>
      </div>
      <div>
        <div class="ligne1">
          <div>
            <div style=" width: 200px; height: 150px;" class="color3">
              <div class="position1">
                <i class="fa-regular fa-database icon"></i>
              </div>
              <span style="margin-left:25% ;">Orange Fab</span>
            </div>
          </div>
        </div>
        <div class="ligne1">
          <div>
            <div style=" width: 200px; height: 150px;" class="color3">
              <div class="position1">
                <i class="fa-solid fa-code icon"></i>
              </div>
              <span style="margin-left:35% ;">Kalanso</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="graphique">
      <!-- <span class="vertical"><span class="v2"></span></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span>
      <span class="vertical"></span> -->
      
    </div>
  </div>
</ion-content>
