
<ion-content>

  <div class="row containerSearch">
    <div class="col-12 col-md-8 py-3">
      <p class=" display-6 mx-3">Bienvenue Jeremi</p>
      <p class="mx-3">Gestion de Orange Digital Center</p>
    </div>
    <div class="col-12 col-md-4 py-3">
      <input type="search" placeholder="Rechercher">
    </div>
  </div>

 <div class="row col-12 py-3">
    <div class="cardHome col-12 col-md-4">
      <p class="pcardHome pt-3">100</p>
      <p class="txtcardHome">Apprennants</p>
    </div>
    <div class="cardHome col-12 col-md-4">
      <p class="pcardHome pt-3">200</p>
      <p class="txtcardHome">Apprennants</p>
    </div>
    <div class="cardHome col-12 col-md-4">
      <p class="pcardHome pt-3">150</p>
      <p class="txtcardHome">Apprennants</p>
    </div>
 </div>
</ion-content>
