*{
  font-family: 'Poppins';font-size: 22px;
}

.welcomeP{
  position: relative;
  background-color: #E7EBED;
  width: 50%;
  border-radius: 0px 23px 23px 0px;
  margin-left: 1000px;
  padding: 5px;
  margin-top: -10px;
  font-size: 1.1rem;
}
.cardHome{
background: #FFFFFF;
box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

}
.containerSearch{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  
}

.cardHome .iconns{
  color: #FF6600;
  position: relative;
  top: 20px;
  display: block;

}

.pcardHome{
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
  position: relative;
  top: -26px;
}

.txtcardHome{
  text-align: center;
  font-size: 1rem;
  position: relative;
  top: -45px;
}
