.container{
    position: absolute;
    margin: 5vh;
    right: 0;
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    border-radius: 3rem;
}

.left{
    margin: 5vh;
    width: 30%;
    height: 70vh;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}



.right{
    margin: 5vh;
    height: 70vh;
    margin-left: 50vh;
    border-radius: 12px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}
h2{
    margin-top: 10px;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 20px;
    font-weight: bold;
}


.trait
{
    border: 3px solid #FF6600;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

input, select{
    width: 250px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}




td{
    padding: 10px;
}
td .eml{
    width: 520px;
}
.slt{
    width: 250px;
    height: 50px ;
    margin-left: 150px;

}
.bouton2{
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-top: 5%;
    margin-left: 160px;
}

.bouton1{
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-left: 5%;
}


@media screen and (min-width: 768px) and (max-width: 1330px) { 
    /* STYLES HERE */
    .container{

        width: 80vw;
    }
    input, select{
        width: 150px;
        height: 30px;
        border-radius: 12px;
        border: 1px solid white;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    }
    .slt{
        width: 150px;
        height: 30px ;
        margin-left:50%;
    
    }
    .bouton2{

        margin-left: 25%;
    }

}





