
<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"
    style="position:relative; top:2%; left:90%;"><i class="bi bi-list py-2 p-1 " style="color:black"></i></a>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>

    <main class="col ps-md-2 pt-2 " style=" height: 100vh ;">

      <div class="conteneur">
      <div class="container row ">


        <!-- =============================  L'image  ============================== -->
        <div class="col-lg-4 col-md-6 xs-6 align-items-center droit">
          <img src="../../assets/ajouterM.png" width="100%">
        </div>

        <!-- =============================  Formulaire  ============================== -->

            <div class="col-lg-8 col-md-6 xs-6 ">

              <div class="left" style="left: 0; align-items: center;">

                <h2>Formulaire Acteur</h2>
                <div class="trait"></div>


           <form class="form">

              <div class="row col">
                <div class="col-12 col-md-12 mb-3 p-1 valider bg-success " *ngIf="modif">
                  {{modif}}
                </div>
                <div class="col-12 col-md-12 mb-3 p-1 bg-danger err " *ngIf="erreur">
                  {{erreur}}
                </div>
                  <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                      <input type="text" name="nom" class="form-control" id="floatingInput" placeholder="Saisir nom" [(ngModel)]="nom" required>
                      <label for="floatingInput">Nom<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                      <input type="text" name="prenom" class="form-control" id="floatingInput" placeholder="Saisir prenom" [(ngModel)]="prenom" required>
                      <label for="floatingInput">Prenom<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                    <input type="text" name="email" class="form-control" id="floatingInput" placeholder="Saisir email" [(ngModel)]="email" required>
                    <label for="floatingInput">Email<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                    <input type="text" name="numero" class="form-control" id="floatingInput" placeholder="Saisir numero" [(ngModel)]="numero" required>
                    <label for="floatingInput">Numero<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 mb-3 mt-2">
                    <button (click)="ajouterUtilisateur()" class="btn bttn">Valider</button>
                  </div>
                  </div>
            </form>


      </div>

      </div>
      </div>
    </div>
    </main>
  </div>
</div>

