<ion-header>
  <ion-toolbar>
    <ion-title>AdminAjouterActeurUser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    

    <div class="left" style="position: absolute; left: 0;">
      <h2>Formulaire Acteur</h2>
      <div class="trait"></div>

      <form>
        <table>
          <tr>
            <td><input type="text" name="nom" placeholder="Saisir Nom" required></td>
          </tr>
          <tr>
            <td><input type="text" name="prenom" placeholder="Saisir Prenom" required></td>
          </tr>
          <tr>
            <td><input type="email" name="email" placeholder="Saisir Email" required></td>
          </tr>
          <tr>
            <td><select class="slth">
              <option value="">--Statut--</option>
              <option value="">Lead</option>
              <option value="">Modérateur</option>
              <option value="">Formateur</option>
            </select></td>
          </tr>
          <input type="submit" class="bouton1" value="Envoyer">
        </table>
      </form>
    </div>

    <div class="right">

      <h2>Formulaire Utilisateur</h2>
      <div class="trait"></div>
     
      <form action="" method="post" >
        <table>
          <tr>
            <td><input type="text" name="nom" placeholder="Saisir Nom" required></td>
            <td><input type="text" name="prenom" placeholder="Saisir Prenom" required></td>
          </tr>
          
          <tr>
            <td><input type="email" name="email" placeholder="Saisir Email" required></td>
            <td><input type="text" name="num" placeholder="Saisir Numero" required></td>
          </tr>
          
        </table>
        <td><select>
          <option value="">--Rôle--</option>
          <option value="">Administrateur</option>
          <option value="">Responsable</option>
          <option value="">Utilisateur</option>
        </select></td>
        <td><select>
          <option value="">--Entité--</option>
          <option value="">Kalanso</option>
          <option value="">Fablab</option>
          <option value="">OrangeFab</option>
        </select></td>
        <input type="submit" class="bouton2" value="Envoyer">
      </form>

    </div>

  </div> 
</ion-content>
