

<ion-content *ngIf="roles == 'user' || roles == 'admin' && iduser  else erreur">

  <div class="container-fluid">
    <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"
    ><i class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
    <button (click)="deconnexion()" class="btn deconnexion btn-danger" > <i class="bi bi-power "></i> Deconnexion</button>
<style>

.deconnexion{
  position:relative; left:80% ;
}
@media only screen and (max-width: 475px){
  .deconnexion{
    left:50% ;
  }
}
</style>
    <div class="row flex-nowrap">
      <div class="col-auto px-2" *ngIf="menuBureau">
        <app-menu></app-menu>
      </div>
      <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">
        <button type="button" class="btn py-1" style="margin-left:92% ;">
          <i class="bi bi-bell-fill position-relative" style="font-size:30px ;">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill" style="font-size:15px;  background-color: #ff6600;">
            99+
          </span></i>
        </button>
        <div class="container py-3">
          <div class="contain">
            <div class="row boxShadow">
              <!------------- Colonne Gauche---->
              <div class="col-12 col-md-4 imgGauche">
                <img src="assets/icon/illustre.png" alt="image ajouter un postulant" class="img-fluid rounded">
                <h2 class="display-6 text-center" style="font-weight: bold; color: black;">Bienvenue</h2>
                <h6>Sur <span style="color:#FF6600">Orange </span>Digital Center</h6>
              </div>
        
              <!------------- Colonne Droite ---->
              <div class="col-12 col-md-8">
                <form [formGroup]="myForm" (ngSubmit)="submit()">
                  <fieldset>
                    <legend class="display-6 text-center my-3"><b>Importer une liste participant/apprenant</b></legend>
                  </fieldset>
                  <div class="trait"></div>
                  <div class="row col-12">


                    <div class="mb-4 altert alert-danger" style="border-radius:10px;">
                      <div class="">
                        <p *ngIf="bool_erreurImp" class="m-3" style="font-size: 1.2rem; font-weight: bold;">{{erreurImport}}</p>
                      </div>
                    </div>

                    
                    <div class="mb-3 col-12 col-md-12 form-row form-floating">
                      <input type="text" id="libelle" placeholder="libelle"  formControlName="libelleListe"  class="form form-control inputvalue">
                      <label for="name">Libelle</label>
                    </div>

                    <div class=" mb-3 col-12 col-md-12 form-row form-floating ">
                      <input type="file" class="form-control"  formControlName="file" (change)="onFileChange($event)"/>
                    </div>
                    
                    
                    <div class="mb-4 col-12 col-md-12 form-row form-floating">
                     
                      <select id="libelleActivite" class = "form-select form-control"[(ngModel)]="libelleActivite" formControlName="libelleActivite">
                          <option selected>--Choisir Activivité--</option>
                          <option *ngFor="let libelleAct of activitesSansListes$" [(ngValue)]="libelleAct.nom">{{libelleAct.nom}}</option>
                      </select>
                      <label for="activité">Activite</label>
                      
                    </div>
  
                  </div>
                  <button class="btn btnAjouter">Valider</button>
        
        
                </form>
        
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  

</ion-content>

<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div >
      <button style="font-size:20px;" >Veuillez vous <a href="authentification"  class=" btn">connecter</a></button>
      <style>
        .img button a:hover{
          background-color:black ;
          border:2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }
        .img button a{
          background-color:#ff6600 ;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>
