
<ion-content>

  <div class="contenaire">
    <div class="position">
        <section class="gauche" style="background-image:url(../../assets/Fichier2.png); position: relative; background-color: black;">
         <style>
          
                   </style>
          
          <div class="centered" style="position:absolute">
        <img src="../../assets/logo1.png" alt=""></div>
           
      <img src="../../assets/Fichier2.png" style="border: 1px solid;">
     
    </section>
    <section class="droite" style="border: 1px solid;">

        <form class="formulaire">
          <div class="mb-3">
            <img  class="imageInvisible" src="../../assets/logo1.png" style="display: none;">
            <label class="autentification">Authentification</label>
            <div class="hr"></div><br><br>
            <input type="email" class="form-control" placeholder="Veuillez entrer votre email" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Veuillez entrer votre email" required>
          </div>

            <label class="mdp"><a href="#">mot de passe oublié ?</a></label>

          <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>


    </section>
    </div>


      <section class="pied">
              <p>Copyright @ 2022 Tous droit reservé <strong style="color: Orange">Orange</strong> Digital Center</p>
      </section>

  </div>


</ion-content>
