section
{
  margin-left: 20%;
  margin-top: 2%;
}
.generale
{
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.8);
  margin: 10%;
}

table
{
  font-family: 'poppins'; width: 100%;
}
.containerT
{
  display: flex; justify-content: space-around;
}
.souhater
{
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.8);
  padding: 2%; align-content: center; text-align: center;
  display: flex; flex-direction: row; font-size: 100%;
  font-family: 'poppins';
}
.bouton
{
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.8);
  padding: 2%; display: flex;
}
.tableContainer
{
   margin: 5%; font-family: 'poppins'; align-items: center;
  // box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.8);
}
.entete
{
   display: flex; justify-content: space-around;
}
.titleT
{
  display: flex; flex-direction: row;
}
.boutons{
  margin: 10px;
}
thead
{
  background-color: #000000; color: white; border-radius: 2px 2px 0px 2px solid;
}
td span
{
  margin: 12%;
}
// Modification des bordures du tableaux
.fhead{
  border-radius: 10px 0 0 0;
}
.lhead{
  border-radius: 0 10px 0 0;
}

