<ion-content>

  <section class="container">

      <div class="containerT row">
        <div class="souhater">
            <h1>
              Souhaitez-vous ajouter un postulant ?
            </h1>
        </div>

        <div class="bouton">
          <button type="button" class="btn btn-outline-dark">Ajouter un utilisateur</button>
        </div>

      </div>

<div class="generale">


      <div class="tableContainer ">

        <div class="entete row">

          <div class="titleT">
              <h1>Liste des utilisateurs</h1>
          </div>

          <div class="boutons">
            <button type="button" class="btn btn-outline-dark">Exporter Fichier</button>
          </div>
        </div>


        <table class="table">

          <thead>
             <th scope="col" class="fhead">Nom</th>
             <th scope="col">Prénom</th>
             <th scope="col">Email</th>
             <th scope="col">Numero</th>
             <th scope="col">Genre</th>
             <th scope="col" class="lhead">Action</th>
          </thead>

          <tbody>
            <tr>
              <td>Coulibaly</td>
              <td>Adama</td>
              <td>adama@gmail.com</td>
              <td>70 44 67 11</td>
              <td>Masculin</td>
              <td>
                    <span><a> <i class="fa-solid fa-pen-to-square"></i></a></span>

                    <span>  <a> <i class="fa fa-trash" aria-hidden="true"></i> </a></span>
             </td>

            <tr>
              <td>Coulibaly</td>
              <td>Awa</td>
              <td>awa@gmail.com</td>
              <td>70 66 67 11</td>
              <td>Feminin</td>
              <td>
                <span><a> <i class="fa-solid fa-pen-to-square"></i></a></span>

                <span>  <a> <i class="fa fa-trash" aria-hidden="true"></i> </a></span>

              </td>
            </tr>

            <tr>
              <td>Diarra</td>
              <td>Idrissa</td>
              <td>idrissa@gmail.com</td>
              <td>70 44 67 11</td>
              <td>Masculin</td>
              <td>
                <span><a> <i class="fa-solid fa-pen-to-square"></i></a></span>

                    <span>  <a> <i class="fa fa-trash" aria-hidden="true"></i> </a></span>

              </td>
            </tr>

            <tr>
              <td>Traoré</td>
              <td>Moussoudou</td>
              <td>traore@gmail.com</td>
              <td>60 44 67 11</td>
              <td>Masculin</td>
              <td>

                <span><a> <i class="fa-solid fa-pen-to-square"></i></a></span>

                <span>  <a> <i class="fa fa-trash" aria-hidden="true"></i> </a></span>

              </td>
            </tr>
          </tbody>

        </table>

      </div>
</div>

  </section>







</ion-content>
