<div class="container-fluid"
  *ngIf="roles == 'user' || roles == 'admin' || roles =='responsable' && iduser  else erreur">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"><i
      class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button (click)="deconnexion()" class="btn deconnexion btn-danger"> <i class="bi bi-power "></i> Deconnexion</button>
  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {
      .deconnexion {
        left: 50%;
      }
    }

    @media only screen and (min-width: 499px) and (max-width: 857px) {

      .deconnexion {
        left: 65%;
      }
    }
  </style>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>


    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">


      <div class="container">
        <!-- changer theme -->
        <!-- <section class="example-card">
  <button (click)="changeTheme" mat-raised-button color="primary">Change Theme</button>
</section> -->

        <!-- <button type="button" class="btn" style="margin-left:92% ;">
          <i class="bi bi-bell-fill position-relative" style="font-size:30px ;">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
              style="font-size:15px;  background-color: #ff6600;">
              99+
            </span></i>
        </button> -->
        <br><br>
        <div class="row ro py-3">
          <h1>Liste des acteurs</h1>
          <div class="trait"></div>
          <div class="position">
            <button (click)="exportToExcel()" class="btn btnAjouter">Exporter le fichier</button>

            <a href="admin-ajouter-acteur-user"> <button class="btn btnAjouter1">Ajouter un acteur</button></a>
            <form action="">
              <button class="btn btnAjouter recherche" style="display:flex ;"><i class="bi bi-search py-1"
                  style="padding:5px"></i> <input type="text" name="search"
                  style="border: hidden; border: 0; background: transparent;" placeholder="Rechercher"
                  [(ngModel)]="searchTerm "></button>
            </form>
          </div>
          <div class="table-responsive ra py-5">

            <table id="season-tble" class="table">
              <thead>
                <tr>
                  <th scope="col">Prénom</th>
                  <th scope="col">nom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Numéro</th>
                  <th scope="col" class="ra1" *ngIf="cacherAction">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let acteur of acteurs | paginate: { itemsPerPage: 5, currentPage: p} | filter:searchTerm">

                  <td>{{acteur.prenom}}</td>
                  <td>{{acteur.nom}}</td>
                  <td>{{acteur.email}}</td>
                  <td>{{acteur.numero}}</td>
                  <!-- <td>{{acteur.statut.nom}}</td> -->
                  <td><a [routerLink]="['/modifier-acteur', acteur.idacteur]"><i
                        class="bi bi-pencil-square i"></i></a>&nbsp; &nbsp; &nbsp;<button><i class="bi bi-trash-fill i"
                        (click)="supprimer(acteur)"></i></button></td>
                </tr>
              </tbody>
              <h2 *ngIf="!acteurs"> Aucun acteur dans la base de donnée !</h2>
            </table>
            <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>

          </div>
        </div>
      </div>



    </main>
  </div>
</div>


<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div>
      <button style="font-size:20px;">Veuillez vous <a href="authentification" class=" btn">connecter</a></button>
      <style>
        .img button a:hover {
          background-color: black;
          border: 2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }

        .img button a {
          background-color: #ff6600;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>