<!-- <ion-content> -->
  <!-- <div class="search"><ion-searchbar class="search--"></ion-searchbar></div>
  <div class="container1">
    <div class="div-gauche">
    <p>Vous souhaitez ajouter
      un acteur?</p>
    </div>

    <div class="div-droite">
      <span ><p>Ajouter un acteur</p></span>
    </div>

  </div>
  
<div class="container">
   <div class="cont">
     <div class="boutton">  
       <p class="b"><b>Liste des acteurs</b></p>
       <span class="sp1"><b>Filtrer</b></span>
       <span class="sp2"><b>Exporter liste</b></span>
     </div> 
    <table class="table">
      <thead class="thead-dark" >
        <th class="gauche" scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Email</th>
        <th scope="col">Numéro</th>
        <th scope="col">Genre</th>
        <th class="droite" scope="col">Actions</th>

        <tr>
          <td scope="col">Djire</td>
          <td scope="col">Youssouf</td>
          <td scope="col">djireyoussouf1999@gmail.com</td>
          <td scope="col">72095772</td>
          <td scope="col">Masculin</td>
          <td>
            <a></a>
            <a></a>
          </td>
        </tr>
      </thead>
      </table>
    </div> 
  </div> -->


  <!-- <style>
   
  </style> -->
  <ion-content>
    <!-- <div class="search"><ion-searchbar value="recherche"></ion-searchbar></div> -->
    <!-- <div class="search"><ion-searchbar class="search--"></ion-searchbar></div> -->
    <div class="container1">
      <div class="div-gauche">
      <p>Vous souhaitez ajouter
        un acteur?</p>
      </div>
  
      <div class="div-droite">
        <span  ><p >Ajouter un acteur</p></span>
      </div>
  
    </div>
    
  <div class="container">
     <div class="cont">
       <div class="boutton">  
         <p class="b"><b>Liste des acteurs</b></p>
         
       </div> 
      <table class="tab">
        <thead class="head">
          <th class="gauche">Nom</th>
          <th>Prenom</th>
          <th>Email</th>
          <th>Numéro</th>
          <!-- <th>Genre</th> -->
          <th class="droite">Actions</th>
    
        </thead>
      
        <tr *ngFor="let a of acteurs">
          <td>{{a.nom}}</td>
          <td>{{a.prenom}}</td>
          <!-- <td>djireyoussouf1999@gmail.com</td> -->
          <td>{{a.numero}}</td>
          <!-- <td>Masculin</td> -->
          <td> <a href=""><ion-icon name="create"></ion-icon></a>
             
            <a href=""><ion-icon name="trash"></ion-icon></a>
          </td>
        </tr>

        <tr>
          <td>Djire</td>
          <td>Youssouf</td>
          <td>djireyoussouf1999@gmail.com</td>
          <td>72095772</td>
          <!-- <td>Masculin</td> -->
          <td> <a href=""><ion-icon name="create"></ion-icon></a>
             
            <a href=""><ion-icon name="trash"></ion-icon></a>
          </td>
        </tr>

        <tr>
          <td>Djire</td>
          <td>Youssouf</td>
          <td>djireyoussouf1999@gmail.com</td>
          <td>72095772</td>
          <!-- <td>Masculin</td> -->
          <td> <a href=""><ion-icon name="create"></ion-icon></a>
             
            <a href=""><ion-icon name="trash"></ion-icon></a>
          </td>
        </tr>

        
          <!-- <a href=""><ion-icon name="skip-backward"></ion-icon></a>
          <ion-icon name="arrow-dropleft"></ion-icon>
          <ion-icon name="arrow-dropright"></ion-icon>
          <ion-icon name="skip-forward"></ion-icon> -->
       
       
      </table>
  
    </div> 
  </div>
  
</ion-content>
