


<ion-content>

  <div class="container">
    <div class="row">
    <!-- <h1 class="h">My First Bootstrap Page</h1> -->

    <div class="col-md-6 ">
      <img src="/assets/images/renicialisercode.png" class="rounded img" alt="Cinque Terre">
    
    
      <!-- <div class="divider py-1 trait"></div> <br> -->
    <p class="c1">Veuillez vérifier votre <a style="color: #FF6600;">E-mail</a>
    </p><div class="trait py-1 "></div> <br>
    
    
    <!-- <div class="col-md-6 "> -->
    <p class="Text">Vérifiez votre e-mail pour un code pour réinitialiser votre mot de passe. S'il n'apparaît pas dans quelques minutes, vérifiez votre dossier spam.</p>
    </div> 
 

  <div class="col-md-6 ">

    <p class="c2">Saisir le code de Confimation
    </p><div class="trait1 py-1 "></div> <br>

    <p class="Text1">Ce code vous permettra de réinitialiser votre Mot de Passe</p>
    <input type="Text" class="T1" style="margin-left: 17%;">
    <input type="Text" class="T1">
    <input type="Text" class="T1">
    <input type="Text" class="T1">
    <br>
      
      <button type="button" class="btn btn-orange btn-lg c3" style="text-align: center;">Valider</button>
  </div>
    <!-- </div> -->
    <!-- </div> -->
    
  </div>
</div>

</ion-content>
