<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-item routerLink="/ajouter-postulant">AjouterPostulant</ion-item>

    <ion-item routerLink="/admin-ajouter-acteur-user">Ajouter Acteur & User</ion-item>
    <ion-item routerLink="/activite">Création Activité</ion-item>
    <ion-item routerLink="/gestionentite">Gérer Entités</ion-item>
    <ion-item routerLink="/salle">Gérer Salle</ion-item>
    <ion-item routerLink="/menu">Menu ADAMA</ion-item>

    <ion-item routerLink="/tirage">Tirage</ion-item>

  <div id="container">  
     <!-- <ion-item routerLink="/liste-tirage">ListeTirage</ion-item> -->
      <ion-item routerLink="/accueil-user">AccueilUser</ion-item>

    <strong>Ready to create an app?</strong>
 
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
