
  <div class="container row">

    <!-- =============================  L'image  ============================== -->
    <div class="col-lg-4 col-md-6 xs-6 droit">
      <img src="../../assets/ajouterM.png" width="100%">
    </div>

    <!-- =============================  Formulaire  ============================== -->

    <div class="col-lg-8 col-md-6 xs-6">

      <div class="left" style="left: 0; align-items: center;">

        <h2>Modifier Acteur</h2>
        <div class="trait"></div>

        <form class="form">
          <table>
            <tr>
              <td> <input type="text" name="nom" class="form-control" placeholder="Saisir Nom" [(ngModel)]="nom"
                  required></td>
            </tr>

            <tr>
              <td> <input type="text" name="prenom" class="form-control" class="form-control"
                  placeholder="Saisir Prenom" [(ngModel)]="prenom" required></td>
            </tr>

            <tr>
              <td> <input type="email" name="email" class="form-control" placeholder="Saisir Email"
                [(ngModel)]="email" required></td>
            </tr>

      <tr>
        <td><input type="text" name="telephone" placeholder="76 55 67 55" [(ngModel)]="numero" required></td>
      </tr>

      <input (click)="saveActeur()" type="submit" class="bouton1" value="Envoyer">
    </table>
  </form>

</div>

</div>

