
  <div class="container row" *ngIf="roles == 'user' || roles == 'admin' || roles =='responsable' && iduser  else erreur">

    <!-- =============================  L'image  ============================== -->
    <div class="col-lg-4 col-md-6 xs-6 droit">
      <img src="../../assets/ajouterM.png" width="100%">
    </div>

    <main class="col ps-md-2 pt-2 " style=" height: 100vh ;">

      <div class="conteneur">
      <div class="container row ">


        <!-- =============================  L'image  ============================== -->
        <div class="col-lg-4 col-md-6 xs-6 align-items-center droit">
          <img src="../../assets/ajouterM.png" width="100%">
        </div>

        <!-- =============================  Formulaire  ============================== -->

            <div class="col-lg-8 col-md-6 xs-6  ">

              <div class="  left" >

                <h2>Modifier Acteur</h2>
                <div class="trait"></div>


           <form class="form">

              <div class="row col ">

                <div class="col-12 col-md-12 mb-3 p-1 bg-danger err " *ngIf="erreur">
                  {{erreur}}
                </div>

                  <div class="col-lg-8 col-md-8 xs-6 form-floating  mb-3">
                      <input type="text" name="nom" class="form-control" id="floatingInput" placeholder="Saisir nom" [(ngModel)]="nom" [value]="nom" required>
                      <label for="floatingInput">Nom<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                      <input type="text" name="prenom" class="form-control" id="floatingInput" placeholder="Saisir prenom"  [(ngModel)]="prenom" [value]="prenom" required>
                      <label for="floatingInput">Prenom<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                    <input type="text" name="email" class="form-control" id="floatingInput" placeholder="Saisir email" [(ngModel)]="email" [value]="email" required>
                    <label for="floatingInput">Email<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                    <input type="text" name="numero" class="form-control" id="floatingInput" placeholder="Saisir numero" [(ngModel)]="numero" [value]="numero" required>
                    <label for="floatingInput">Numero<span style="color:red ;">*</span></label>
                  </div>
                  <div class="col-lg-8 col-md-8 xs-6 mb-3 mt-2">
                    <button (click)="saveActeur()" class="btn bttn">Valider</button>
                  </div>
                  </div>
            </form>
      </div>

      </div>
      </div>
    </div>
    </main>
  </div>



<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div >
      <button style="font-size:20px;" >Veuillez vous <a href="authentification"  class=" btn">connecter</a></button>
      <style>
        .img button a:hover{
          background-color:black ;
          border:2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }
        .img button a{
          background-color:#ff6600 ;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>

