<div class="container-fluid "
  *ngIf="roles == 'user' || roles == 'admin' || roles =='responsable' && iduser  else erreur">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"><i
      class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button (click)="deconnexion()" class="btn deconnexion btn-danger"> <i class="bi bi-power "></i> Deconnexion</button>
  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {

      .deconnexion {
        left: 50%;
      }

    }

    @media only screen and (min-width: 499px) and (max-width: 857px) {

      .deconnexion {
        left: 65%;
      }
    }
  </style>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>

    <main class="col ps-md-2 pt-2 " style=" height: 100vh ;">

      <div class="container conte">
        <div class="conteneur">
          <div class="container row ">
            <!-- =============================  L'image  ============================== -->
            <div class="col-lg-4 col-md-6 xs-6 align-items-center droit">
              <img src="../../assets/ajouterM.png" width="100%">
            </div>

            <!-- =============================  Formulaire  ============================== -->

            <div class="col-lg-8 col-md-6 xs-6  ">

              <div class="  left">

                <h2>Modifier Acteur</h2>
                <div class="trait"></div>


                <form class="form">

                  <div class="row col ">



                    <div class="col-lg-8 col-md-8 xs-6 form-floating  mb-3">
                      <input type="text" name="nom" class="form-control" id="floatingInput" placeholder="Saisir nom"
                        [(ngModel)]="nom" [value]="nom" required>
                      <label for="floatingInput">Nom<span style="color:red ;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                      <input type="text" name="prenom" class="form-control" id="floatingInput"
                        placeholder="Saisir prenom" [(ngModel)]="prenom" [value]="prenom" required>
                      <label for="floatingInput">Prenom<span style="color:red ;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                      <input type="text" name="email" class="form-control" id="floatingInput" placeholder="Saisir email"
                        [(ngModel)]="email" [value]="email" required>
                      <label for="floatingInput">Email<span style="color:red ;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-8 xs-6 form-floating mb-3">
                      <input type="text" name="numero" class="form-control" id="floatingInput"
                        placeholder="Saisir numero" [(ngModel)]="numero" [value]="numero" required>
                      <label for="floatingInput">Numero<span style="color:red ;">*</span></label>
                    </div>
                    <div class="col-lg-8 col-md-8 xs-6 mb-3 mt-2">
                      <button (click)="saveActeur()" class="btn bttn">Valider</button>
                    </div>
                  </div>
                </form>
              </div>

            </div>
          </div>

        </div>
        <!-- Footer -->
        <footer class="footer mt-3 mb-3">
          <p class="text-center">&copy; 2022 | Tous droits réservés <span style="color:#FF6600;">Orange</span> Digital
            Center</p>
        </footer>
        <style>
          footer {
            padding: 25px;
            background: #202020;
            color: #FFFFFF;
          }
        </style>
        <!-- Footer -->
      </div>
    </main>
  </div>
</div>

<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div>
      <button style="font-size:20px;">Veuillez vous <a href="authentification" class=" btn">connecter</a></button>
      <style>
        .img button a:hover {
          background-color: black;
          border: 2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }

        .img button a {
          background-color: #ff6600;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>