<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar"  data-bs-toggle="collapse"  style="position:relative; top:2%; left:90%;"><i class="bi bi-list py-2 p-1 " style="color:black"></i></a>
<div class="row flex-nowrap">
  <div class="col-auto px-2" >
    <app-menu></app-menu>
    </div>
  
    <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">  
      <div class="container py-5">
        <div class="row">
          <div class="col-8"></div>
          <div class="col-4 "></div>
        </div>
        <form action="" class="container1 container py-5">

          <div class=" mb-2 " *ngIf="bool_erreur">
            <div class="col-12 alert alert-danger">
              <span class="px-4 w-100" >{{erreur}}</span>
            </div>
            
          </div>
          <div class="row">
            <div class="mb-3  col-12 col-md-12 viens2  form-row form-floating">
              <h1 >Créer une Activité</h1>
            </div>
          </div>

          <div class="row">
            <div class="mb-3 col-12 col-md-6 viens  form-row form-floating">
              <input type="text" name="titre" id="name" [(ngModel)]="titre" placeholder="Nom" class="form form-control inputvalue">
              <label for="name">Titre:</label>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <select name="salles" id="sexe" class="form-select form-control inputvalue" [(ngModel)]="salles" >
                  <option selected> --- salle ---</option>
                  <option *ngFor="let salle of salles$">{{salle.nom}}</option>
              </select>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <input type="date" name="dateDebut" id="name" [(ngModel)]="dateDebut" placeholder="Nom" class="form form-control inputvalue">
              <label for="name">Date début:</label>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <input type="date" name="dateFin" [(ngModel)]="dateFin" id="name" placeholder="Nom" class="form form-control inputvalue">
              <label for="name">Date fin:</label>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <select name="entites" id="sexe" class="form-select form-control inputvalue" [(ngModel)]="entites" >
                  <option selected> --- entites ---</option>
                  <option *ngFor="let entite of entites$">{{entite.nom}}</option>
              </select>
            </div>
            
            <div class="mb-5 col-12 viens1 form-row form-floating" >
                <textarea class="form-control" name="descpt" [(ngModel)]="descpt" id="exampleFormControlTextarea1" rows="3"></textarea>
              <label for="name">Description:</label>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <select name="typeActivite" id="sexe" class="form-select form-control inputvalue" [(ngModel)]="typeActivites" >
                  <option selected> Type activité</option>
                  <option *ngFor="let typeActivite of typeActivites$">{{typeActivite.typeActivite}}</option>
              </select>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating" >
              
              <ion-select name="sexe" id="sexe" class="form-select form-control inputvalue" [(ngModel)]="users" [multiple]="true"  placeholder="--Acteur interne---">
                <ion-option selected> --- Acteur interne---</ion-option>
                <ion-select-option *ngFor="let user of users$" [value]="user.iduser"> {{user.nom}}</ion-select-option>
                <label >Acteur interne</label>
            </ion-select>
            </div>
            <div class="mb-3 col-12 col-md-6 form-row form-floating">
             
              <ion-select name="sexe" id="sexe" class="form-select form-control inputvalue" [(ngModel)]="acteurs" [multiple]="true"  placeholder="---Acteur externe---">
                  <ion-option selected> --- Acteur externe ---</ion-option>
                    <ion-select-option *ngFor = "let acteur of acteurs$" [value]="acteur.idacteur"> {{acteur.nom}}</ion-select-option>
                  <label >Acteur externe</label>
              </ion-select>
            </div>
            
            <div class="mb-3 col-12 col-md-6 form-row form-floating">
              <select name="sexe" id="sexe" class="form-select form-control inputvalue" [(ngModel)]="respons">
                  <option selected> --- Responsable ---</option>
                  <option *ngFor="let respon of respons$" > {{respon.nom}}</option>
                  <label>Responsable</label>
              </select>
            </div>

            <div class="mb-3 col-12 col-md-6 form-row form-floating" >
    <input type="number" name="name" id="name"  [(ngModel)]="nombrepersonnedemande" placeholder="Nom" class="form form-control inputvalue">
              <label for="name">Objectif Visé</label>
            </div>

            

            <!--
              <div class="mb-3 col-12 col-md-6 form-row form-floating">
                          <input type="file" name="name" id="name" placeholder="Nom" class="form form-control inputvalue">
                          <label for="name">Image</label>
                        </div>
            -->
           

            <div class="row">
              <div class="col-6">
                <button class="btn b1" (click)="postActivite()">Créer</button>
              </div>

              <div class="col-6">
              <a href="admin-ajouter-acteur-user"> <button class="btn b2 " >Ajouter acteur</button> </a>
              </div>
            </div>

          </div>
        </form>
        <div>
        </div>
      </div>
    </main>
</div>
</div>