<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Activite</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    
    <form>
      <h2>Créer une Activité</h2>
      <table>
        <tr>
          <td><input type="text" class="inType" name="titre" placeholder="Titre" required></td>
        </tr>
        <br>
        <tr>
          <td><textarea id="description" name="description" rows="3" cols="33" placeholder="Description"></textarea></td>
        </tr>
        <div class="row">
          <div class="col-6">
            <label for="" style="margin-top:-20%;">Date début :</label><br>
            <input type="date" name="datedf" class="datedf">
          </div>
          <div class="col-6">
            <label for="" style="margin-top:-10%;">Date fin :</label><br>
            <input type="date" name="datedf" class="datedf">
          </div>
        </div>

          
      </table>
      <br>
      <br>
      <div class="row">
        <div class="col-6">
          <ion-list>
            <ion-item>
              <ion-select placeholder="Attribuer à un ou plusieurs acteurs" [multiple]="true">
                <ion-select-option value="apples">Fatoumata KALOGA</ion-select-option>
                <ion-select-option value="oranges">Néné SYLLA</ion-select-option>
                <ion-select-option value="bananas">Adama SAMAKE</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
        <div class="col-6">
          <style>
             input[type=file]{ width:150px; color:transparent; } 

          </style>
          <script>
            window.pressed = function(){ var a = document.getElementById('aa'); if(a.value == "") { fileLabel.innerHTML = "Choose file"; } else { var theSplit = a.value.split('\\'); fileLabel.innerHTML = theSplit[theSplit.length-1]; } }; 
          </script>
          <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg">
        </div>
      </div>
      <input type="submit" class="bouton2" value="Créer">
    </form>
    
  </div>

  
</ion-content>
