.container{
    position: absolute;
    margin-top: 2vh;
    margin-left: -80%;
    margin-right: 10vh;
    right: 0;
    width: 50vw;
    height: 83vh;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

td{
    width: 20px;
    padding: 10px;
}

.container h2{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5px;
}

// input{
//     width: 600px;
//     height: 50px;
//     border-radius: 12px;
//     border: 1px solid white;
//     box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
// }

.inType{
    width: 600px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

textarea{
    width: 600px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.datedf{
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.bouton2{
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-top: 5%;
    margin-left: 30px;
    width: 150px;
    height: 50px ;
}

