.container{
    position: absolute;
    margin: 5vh;
    right: 0;
    width: 70vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left{
    margin: 5vh;
    width: 30%;
    height: 70vh;
    background-color: black;
    border-radius: 12px;
}

img{
    position: relative;
    top: 20%;
    margin-left: 15%;
}

.left h2{
    margin-top: 17%;
    color: white;
    text-align: center;
    justify-content: center;
    margin-bottom: 0%;
    
}
.left h6{
    margin-top: 2%;
    margin-bottom: 20vh;
    color: white;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    
}

.right{
    margin: 5vh;
    height: 70vh;
    margin-left: 50vh;
    flex-direction: column;
    
}
.right h2{
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    font-size: 40px;
    font-weight: bold;
}

.trait
{
    border: 3px solid #FF6600;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

input, select{
    width: 250px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}




td{
    padding: 10px;
}
td .eml{
    width: 520px;
}
.slt{
    width: 250px;
    height: 50px ;

}
input[type=submit]{
    background-color: black;
    color: white;
    border-radius: 12px;
    margin-top: 5%;
    margin-left: 2%;
}






