<div class="container-fluid" *ngIf="roles == 'admin' || roles =='responsable' && iduser  else erreur">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"><i
      class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button (click)="deconnexion()" class="btn deconnexion btn-danger"> <i class="bi bi-power "></i> Deconnexion</button>
  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {
      .deconnexion {
        left: 50%;
      }

    }

    @media only screen and (min-width: 499px) and (max-width: 857px) {

      .deconnexion {
        left: 65%;
      }
    }

    .collapsing {
      -webkit-transition: none;
      transition: none;
      display: none;
    }
  </style>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">



      <ion-content>

        <div class="container contain">
          <div class="row boxShadow">
            <!------------- Colonne Gauche---->
            <div class="col-12 col-md-4 imgGauche">
              <img src="assets/images/logo.png" alt="">
              <h2 class="display-6 text-center" style="font-weight: bold;">Bienvenue</h2>
              <h6>Sur <span style="color:#FF6600">Orange </span>Digital Center</h6>
            </div>

            <!------------- Colonne Droite ---->
            <div class="col-12 col-md-8">

              <form [formGroup]="formmodule" (ngSubmit)="creerEntite()">
                <fieldset>
                  <legend class="display-6 text-center my-3"><b>Ajouter une entité</b></legend>
                </fieldset>

                <div class="trait"></div>

                <div class="row col-12">

                  <div *ngIf="contenu" class="alert alert-success" role="alert">
                    <strong>{{contenu}}</strong>
                  </div>
                  <div class="mb-3 col-12 col-md-6 form-row form-floating">
                    <input type="text" name="nom" formControlName="nom" id="name" placeholder="Nom"
                      class="form form-control inputvalue">
                    <label for="name">Nom de l'entité<span style="color: red;">*</span></label>
                  </div>

                  <div class="mb-3 col-12 col-md-6 form-row form-floating">
                    <input type="text" name="slogant" formControlName="slogant" id="firstname" placeholder="Prénom"
                      class="form form-control inputvalue">
                    <label for="firstname">Slogan<span style="color: red;">*</span></label>
                  </div>

                  <div class="mb-3 col-12 col-md-12 form-row form-floating">
                    <textarea type="text" name="description" formControlName="description" id="num" placeholder="Numéro"
                      class="form form-control inputvalue"></textarea>
                    <label for="num">Description <span style="color: red;">*</span></label>
                  </div>

                  <div class="mb-3 col-12 col-md-6 ">
                    <!-- <input type="file" name="file" id="file"  class="form form-control inputvalue"> -->
                    <ion-input type="file" name="file" formControlName="file" class="input"
                      (change)="fileChang($event)"><img class="image" src="../assets/icon/camera0.svg" alt="logo"
                        srcset="" placeholder="logo" width="8%">Logo<span style="color: red;">*</span></ion-input>
                  </div>


                  <div class="mb-3 col-12 col-md-6 form-row form-floating">

                    <select formControlName="iduser" id="choice" class="form-select form-control" name="iduser">
                      <option selected>--Choisir un responsable--</option>
                      <option *ngFor="let listeUsers of donnees" [(ngValue)]="listeUsers.iduser">
                        {{listeUsers.nom}} - {{listeUsers.prenom}}</option>
                    </select>
                    <label for="num">Choisir un responsable <span style="color: red;">*</span></label>

                  </div>


                </div>
                <button class="btn btnAjouter" value="Ajout">Creer</button>

              </form>

            </div>

          </div>

        </div>
        <!-- Footer -->
        <footer class="footer mt-3 mb-3">
          <p class="text-center">&copy; 2022 | Tous droits réservés <span style="color:#FF6600;">Orange</span> Digital
            Center</p>
        </footer>
        <style>
          footer {
            padding: 25px;
            background: #202020;
            color: #FFFFFF;
          }
        </style>
        <!-- Footer -->
      </ion-content>

    </main>
  </div>
</div>


<ng-template #erreur id="#erreur">
  <div class="img" align="center">
    <div class="">
      <img src="../../assets/images/errors.jpg" width="30%">
    </div>
    <div>
      <button style="font-size:20px;">Veuillez vous <a href="authentification" class=" btn">connecter</a></button>
      <style>
        .img button a:hover {
          background-color: black;
          border: 2px solid #ff6600;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
          color: white;
        }

        .img button a {
          background-color: #ff6600;
          text-decoration: none;
        }
      </style>
    </div>
  </div>
</ng-template>