<ion-content>
  <div class="principale">
 
    <img class="orange"  src="../assets/logooo.jpg" alt="" srcset="">

<section class="container">

<h2>Ajouter une entité</h2>
<p class="vertical"></p>
<div class="ligne">
  <ion-input placeholder="Nom de l'entité" class="entite"></ion-input>
  <ion-input placeholder="Description" class="entite"></ion-input>
</div>
<ion-input placeholder="Slogan" class="entite"></ion-input>

<ion-input type="file" class="input" ><img class ="image" src="../assets/camera1.png" alt="logo" srcset="" placeholder="logo" width="8%">Logo</ion-input> 


  <button type="button" class="btn">Créer</button>

</section>
</div>

</ion-content>
