<div class="container-fluid"
  *ngIf="roles == 'user' || roles == 'admin' || roles =='responsable' && iduser  else erreur">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()"><i
      class="bi bi-list py-2 p-1 " style="color:black;position:relative; top:2%; left:15%; font-size: 30px;"></i></a>
  <button (click)="deconnexion()" class="btn deconnexion btn-danger"> <i class="bi bi-power "></i> Deconnexion</button>
  <style>
    .deconnexion {
      position: relative;
      left: 80%;
    }

    @media only screen and (max-width: 475px) {
      .deconnexion {
        left: 50%;
      }
    }

    @media only screen and (min-width: 499px) and (max-width: 857px) {

      .deconnexion {
        left: 65%;
      }
    }
  </style>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style=" height: 100vh ;">


      <div class="container">
        <!-- <button type="button" class="btn" style="margin-left:92% ;">
          <i class="bi bi-bell-fill position-relative" style="font-size:30px ;">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill"
              style="font-size:15px; color: #ff6600;">
              99+
            </span></i>
        </button>-->
        <br><br>
        <div class="row ro py-3">
          <h1>Liste des salles</h1>
          <div class="trait"></div>
          <div class="position">
            <button (click)="exportToExcel()" class="btn btnAjouter">Exporter le fichier</button>
            <form action="">
              <button class="btn btnAjouter recherche" style="display:flex ;"><i class="bi bi-search py-1"></i> <input
                  type="text" style="border: hidden; border: 0; background: transparent;" name="searchText"
                  [(ngModel)]="searchText" placeholder="Rechercher"></button>
            </form>
            <!-- <button class="btn btnAjouter c1">Filtré par entité <i class="bi bi-filter-right"></i></button> -->

            <select class="btn btnAjouter c1 form-control " (change)="filtreSalle($event)">
              <option>Tout</option>
              <option>Disponible</option>
              <option>Indisponible</option>
              <i class="bi bi-filter-right"></i>
            </select>


            <a href="salle"> <button class="btn btnAjouter">Ajouter une salle</button></a>
          </div>
          <div class="table-responsive ra py-5">
            <h1>{{salleFiltre}}</h1>
            <table class="table" id="season-tble">
              <thead>
                <tr>
                  <th scope="col" class="ra" style="text-align:center ;">N°</th>
                  <th scope="col" style="text-align:center ;">Nom</th>
                  <th scope="col" style="text-align:center ;">Etage</th>
                  <th scope="col" style="text-align:center ;">Nombre de place</th>
                  <th scope="col" style="text-align:center ;">Etat de disponibilité</th>
                </tr>


                <tr
                  *ngFor="let uneSalle of salleParDispo | filter:searchText | paginate: { itemsPerPage: 5, currentPage: p} let i = index">
                  <td style="text-align:center ;">{{i+1}}</td>
                  <td style="text-align:center ;">{{uneSalle.nom}}</td>
                  <td style="text-align:center ;">{{uneSalle.etage}}</td>
                  <td style="text-align:center ;">{{uneSalle.nbreplace}}</td>
                  <td style="text-align:center ;">
                    <p *ngIf="uneSalle.disponibilite"><i class="bi bi-check-circle i"
                        style="color:#198754; font-size:20px;"></i></p>
                    <p *ngIf="!uneSalle.disponibilite"><i class="bi bi-x-circle" style="color:red; font-size:20px;"></i>
                    </p>
                  </td>
                </tr>
              </thead>
            </table>
            <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>


          </div>
        </div>

      </div>
    </main>
  </div>
</div>