<div class="container-fluid">
  <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" (click)="afficheMenuMobile()" style="position:relative; top:2%; left:90%;"><i
      class="bi bi-list py-2 p-1 " style="color:black"></i></a>
  <div class="row flex-nowrap">
    <div class="col-auto px-2" *ngIf="menuBureau">
      <app-menu></app-menu>
    </div>
    <main class="col ps-md-2 pt-2  " style= " height: 100vh ;">


<ion-content>
 <div class="container">
  <div class="contain">
        <div class="row">
        
          <div class="col-12 col-md-3 text-center" part1>
              <p> Statistiques</p> 
              <div class="card">
            
                <div class="contenuCard text-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#FF6600" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                  </svg>
                  <p class="nombreSurlaCard text-center" style="color: #FF6600; font-weight: bold; font-size: 34px;">{{listeTotal}}</p>
                  <p>Nombre Listes</p>
                </div>
            </div>

            </div>

          <div class="col-12 col-md-8 text-center"  style="border-radius: 20px 20px 0px 0px;">
            <p> Toutes les listes </p>
            <!-- <div class="container"> -->
            
              <div class="table-responsive ra py-5">
                <table class="table" >
                  <thead style="background-color: #FF6600; color: white; border-bottom: none; ">
                    <tr>
                      <th scope="col" style="border-radius: 10px 0 0 0;"> Libellé_liste</th>
                      <th scope="col">Nombre de Tirage</th>
                      <th scope="col">Activité</th>
                      <th scope="col" style="border-radius: 0 10px 0 0;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let liste of mesListe | paginate:{itemsPerPage:3, currentPage:page}">
                      <td scope="row">{{liste.libelleliste}}</td>
                      <td scope="">{{liste.nombretirage}}</td>
                      <td><a href="[routerLink]='['/detail-activite',liste.idactivite]'">{{liste.activite.nom}}</a></td>
                      <td><a class="voir" [routerLink]="['/page-liste-suite',liste.idliste]" >Voir Plus</a></td>

                    </tr>
                                  
                  </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event" previousLabel="Précedant" nextLabel="Suivant" ></pagination-controls>

              </div>
        
        </div>
     
     </div>
    </div>
</div>
  </ion-content>

    </main>
  </div>
</div>
  
