*{
  font-family: 'Poppins', sans-serif;
}
.contenuCard{
    padding: 20px;
    box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
  }
  p{
    // text-align: center;
    // font-family: 'Poppins';
    // font-size: 24px;
    // font-weight: bold;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 60px;
  }
  .container{
    position: relative;
    top: 20%;
   }
   thead{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
  }
 .ajouter
 {
  color: #FFFFFF; font-weight: bold;
 }
  .contain{
    background: #FFFFFF;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.8);
    padding: 20px;
    position: relative;
    top: 50%;
  }
  .btnNouveau{
      box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);

      background-color: black;
      color: #FFFFFF;
  }
  .btnNouveau:hover{
    background-color: #FF6600;
    color: white;
  }
  td a{
    text-decoration: none;


  }
.voir{
  text-decoration: none;

  font-size: 10px;

  padding: 5px;

  background-color: #FF6600;
  color: white;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  

}
.activite{
  color: #000;
}
  td a:hover{
    background-color: #FF6600;
    color: white;
  }

  @media only screen and  (max-width: 767px ) {
    // td a{
    //   text-decoration: none;
    //   border : 1px solid black;
    //   font-size: 8px;
    //   border-radius: 10px;
    //   background-color: #FF6600;
    //   color: white;
    //   padding: 5px;
    // }
    td, th{
      font-size: 10px;
    }


  }
  tbody{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
// .pagination{
//   background-color: #FF6600;
// }


