

<ion-content>
<div class="icone" style="width: 300px; margin-left:80%;">
<ion-searchbar></ion-searchbar>
</div>
<div class="tout">
  <div class="contenugauche">
    <h4  class="text">Statistiques</h4>
    <div class="card">
      <div class="contenuCard">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#FF6600" class="bi bi-card-list" viewBox="0 0 16 16">
          <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
          <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
        </svg>
        <p class="nombreSurlaCard">123</p>
        <p>Nombres listes</p>
      </div>
    </div>
  </div>
  <div class="contenudroite">
    <h4 class="text">Les listes tirées</h4>
    <!-- <div class="container"> -->
      <div class="cont">
       <table class="tab">
         <thead class="head">
           <!-- <th class="gauche">Nom</th> -->
           <th class="gauche">Listes</th>
           <th>Nombres tirages</th>
           <th>Activités</th>
           <th class="droite">Actions</th>
         </thead>

         <tr>
           <td>Liste 1</td>
           <td>7</td>
           <td>Formation</td>
           <td><button type="submit">Voir plus</button></td>
         </tr>
         <tr>
          <td>Liste 1</td>
          <td width="150px" >7</td>
          <td>Formation</td>
          <td><button type="submit">Voir plus</button></td>
        </tr>
        <tr>
          <td>Liste 1</td>
          <td>7</td>
          <td>Formation</td>
          <td><button type="submit">Voir plus</button></td>
        </tr>
        <tr>
          <td>Liste 1</td>
          <td>7</td>
          <td>Formation</td>
          <td><button type="submit">Voir plus</button></td>
        </tr>
        <tr>
          <td>Liste 1</td>
          <td>7</td>
          <td>Formation</td>
          <td><button type="submit">Voir plus</button></td>
        </tr>
       </table>

     </div>
    <!-- </div> -->
  </div>
</div>
</ion-content>
